.profile-information{
	@extend .box-column-bordered;
}

.profile-information-button-update{
	@extend .button-primary;
	@extend .button-medium;
	margin-right:$sc-margin-lv2;
	margin-bottom:$sc-margin-lv2;
	font-family: $sc-font-family2;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}
}
.profile-information-form-label {
	display: inline-block;
	font-size: 16px;
	font-family: $sc-font-family2;
}

.profile-information-form-group-label-required {
	@extend .input-required;
	font-size: 16px;
	font-family: $sc-font-family2;
}
.profile-information-button-cancel{
	@extend .button-secondary;
	@extend .button-medium;
}

.profile-information-label{
	font-size: 16px;
	font-family: $sc-font-family2;
}

.profile-information-input-large{
	@extend .input-large;
	outline: none;
	font-family: $sc-font-family2;
}

.profile-information-row,
.profile-information-form-actions{
	margin-top: $sc-margin-lv4;
}

.profile-information-input-required{
	@extend .input-required;
	font-size: 16px;
	font-family: $sc-font-family2;
}

.profile-information-input-optional{
	@extend .input-optional;
}

.profile-information-input-required-reference{
	@extend .input-required;
	margin-bottom:$sc-margin-lv4;
}

.profile-information-button-back {
	@extend .button-back;
}

.profile-information-button-back-icon {
	@extend .button-back-icon;
}

.profile-information-header{
	margin-bottom:$sc-margin-lv4;
	font-family: $sc-font-family2;
}

.profile-information-row-fluid{}
.profile-information-col{}
.profile-information-group-form-controls{}
.profile-information-input-email{
	font-size: 16px;
	font-family: $sc-font-family2;
}
.profile-information-change-email-address{
	font-size: 16px;
	font-family: $sc-font-family2;
}
