/* Edited for Horizon Theme */

.product-detail-to-quote-add-to-quote {
	@extend .col-sm-6;
	padding-left: $sc-padding-lv2;
	padding-right: $sc-padding-lv2;
	position: static;

    @media (min-width: $screen-lg-min) {
        width: 35% !important;
    }
}

.product-detail-to-quote-add-to-quote-button {
	@extend .button-tertiary;
    @extend .button-medium;
    margin: $sc-margin-lv3 auto 0;
    font-weight: $sc-font-weight-semibold;
    border: 1px solid $sc-color-secondary;
    width: 80%;
    text-align:center;
    cursor:pointer;
    cursor:hand;
    padding: 0 $sc-padding-base;
    line-height: $sc-target-size-mobile - 4px; //to account for border
		display: inherit;
		@media(min-width: $screen-sm-min){
			display: inline-block;
			margin-left: 0;
			margin-top: $sc-margin-lv3;
			width: 100%;
			//padding: 17px 25px;
			font-size: 1.067rem;
		}
}

.product-detail-to-quote-loading {
	@extend .product-detail-to-quote-add-to-quote-button;
	@extend .product-detail-to-quote-add-to-quote-button:disabled;
	cursor: auto;
}

.quick-view-confirmation-modal .product-detail-to-quote-add-to-quote {
	padding-left: 0;
	padding-right: $sc-padding-lv3;
}
