// Edited for Horizon Theme

.facets-category-cell
{
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: $sc-margin-lv2;
	padding-right: $sc-margin-lv2;
	text-align: center;
	margin-bottom: $sc-margin-lv6;
	width: 50%;

	@media (min-width: $screen-md-min)
	{
		width: 33.33%;
    }

    &:nth-child(2n+1) { // clear after every 2nd cell
		@media (max-width: $screen-md-max) {
			clear: both;
		}
	}

	&:nth-child(3n+1) { // clear after every 3th cell
		@media (min-width: $screen-md-min) {
			clear: both;
		}
	}

}

.facets-category-cell-thumbnail {

	a{
		
		position:relative;
		height:160px;
		@media (min-width: $screen-md-min) {
		height:272px;
		}
		img{
			position:absolute;
			top:0;
			left:0;
			bottom:0;
			right:0;
			max-height:100%;
			margin:auto;
		}
	}
}

.facets-category-cell-image {}

.facets-category-cell-title
{
	padding: $sc-padding-lv2 $sc-padding-lv1 * 0
}

.facets-category-cell-anchor {
    @extend .item-cell-title;
	text-align: center;
	font-size:20px;
	color:$sc-color-link;
}
