// Edited for Horizon Theme
.ischannelucuser{
	@media(min-width: $screen-md-min) {
		display: inline-block;
		padding-top: $sc-padding-lv3;
	}
	@media(max-width: $screen-sm-max) {
		img{max-width: 190px !important;}
	}
}
.ischanneluc-subheader{
	@media(min-width: $screen-md-min) {display:none;}
}
.header-logo-wrapper {
    //float: left;
    //padding-left: $sc-mobile-header-logo-left-padding;
    //width: $sc-mobile-header-logo-width;
    //margin-top: $sc-mobile-header-logo-top-margin;
    left: 60px;
    //margin-top: $sc-mobile-header-logo-top-margin;
    position: relative;
    max-width: 210px;
    float: left;

      //max-width: 34%;
      //line-height: 55px;

    @media(min-width: $screen-xs-max) {
        //width: $sc-desktop-header-logo-width;
        img {
          max-width: $sc-desktop-header-logo-width;
        }
        // margin-top: $sc-desktop-header-logo-top-margin;
    }

    img {
      max-height: 80px;
      max-width: $sc-mobile-header-logo-width;
        @media(max-width: $screen-xs-min) {
          max-width: 100px;
          margin-top: 5px;
        }
    }

    @media(min-width: $screen-md-min) {
      padding-left: 0;
      position: relative;
      z-index: 1000;
      max-width: 210px;
      float: left;
      left: inherit;
      top: inherit;
      margin: 0;
      img {
        max-width: 100%;
        margin: 0;
      }
    }

    &:after {
      content: '';
      display: block;
      float: left;
      clear: both;
      height: 1px;
      width: 1px;
    }
}

.header-logo {}
.header-logo-image {}
.header-logo-sitename{}
