// Edited for Horizon Theme

#site-header {
    margin-bottom: 0;
    box-shadow: none;
	border-bottom:1px solid #ccc;
}

.shopping-layout,
.myaccount-layout {
    /*#site-header.fixed-header {
        @media(min-width: $screen-md-min) {
            position: fixed;
            top: 0;
            width: 100%;
            max-width: $sc-site-max-width;
            z-index: 1001;
        }
    }*/
}

.login-and-cart{
	
	float: right;
	position: relative;
	z-index: 1000;
	
}

.header-message {
    padding: 0;
    background-color: $sc-color-theme-background;
    text-align:center;

    .global-views-message {
        @extend .container;
        margin-bottom:0px;
        @media (min-width: $screen-md-min) {
            padding:$sc-padding-lv3;
            margin-left:-$sc-margin-lv6;
            margin-right:-$sc-margin-lv6;
        }
    }
}

.header-main-wrapper {
    position: relative;
    background-color: $sc-color-link;
}

.header-main-nav {
    min-height: $sc-mobile-header-height;

    a , button {
		i {
			color: $sc-mobile-header-icon-color;
		}

		&:active {
			i {
				color: $sc-mobile-header-icon-active-color;
			}
		}
	}

	a.header-mini-cart-menu-cart-link {
		i, i:hover {
			color: $sc-mobile-header-cart-icon-color !important;
		}

		&:active {
			i {
				color: $sc-mobile-header-cart-icon-active-color;
			}
		}
	}

    border-bottom: $sc-mobile-header-border-width solid $sc-mobile-header-border-color;

    @media (min-width: $screen-md-min) {
        min-height: 32px;
        padding-left: 40px;
        box-shadow: none;
		border: none;

		a {
			color: $sc-header-link-text-color;

			i {
				color: $sc-header-link-text-color;
			}

			&:hover, &:focus {
				color: $sc-header-link-hover-text-color;

				i {
					color: $sc-header-link-hover-text-color;
				}
			}

			&:active {
				color: $sc-header-link-active-text-color;

				i {
					color: $sc-header-link-active-text-color;
				}
			}
		}

		.header-profile-menu-login {
			color: $sc-header-link-text-color;
		}

    }
}

.header-content {
    @extend .clearfix;
    padding: $sc-padding-lv2 $sc-padding-lv2 0;
    background-color: $sc-mobile-navigation-background-color;

    @media (min-width: $screen-md-min) {
        padding: 0;
        background-color: transparent;
    }
}

///////////////////////////////////////////////////////////////
//header sidebar toggle
.header-sidebar-toggle-wrapper {
    margin: 12px 0;
    float: left;
    padding-left: $sc-padding-lv2;

    @media(min-width: $screen-md-min) {
        display: none;
    }
}

.header-sidebar-toggle {
    background: $sc-mobile-navigation-hamburger-icon-background-color;
    width: $sc-target-size-mobile;
    height: $sc-target-size-mobile;
    text-align: center;
    border: solid 1px #ccc;

    @media (min-width: $screen-md-min) {
        line-height: $sc-target-size;
        min-width: $sc-target-size;
    }
}

.header-sidebar-toggle-icon {
    @extend .fa;
    @extend %fa-bars;
    color: #fff !important;
    font-size: 24px;
    margin-left:2px;
}

///////////////////////////////////////////////////////////////
//main nav positioning

.header-right-menu {
    display: -webkit-flex;
    display: flex;
    float: right;
    padding-bottom: $sc-padding-lv2;
    font-size: $sc-font-size-xxs;

    & .storelocator-accesspoints-headerlink {
        padding-right: $sc-padding-lv2;
    }

    & .storelocator-accesspoints-headerlink-link-icon {
        @media (min-width: $screen-md-min) {
            display: none;
        }
    }

    @media (min-width: $screen-md-min) {
        margin: 0;
        padding-bottom: 0;
    }
}

.header-right-menu-options {
    li {
        display: inline-block;
        a {
            @extend %header-link;
            padding: 0 10px;
        }
    }

    @media (max-width: $screen-md-min) {
        display: none;
    }
}

.header-menu-profile,
.header-menu-quote,
.header-menu-settings {
    float: left;
    display: none;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}

.header-menu-storelocator {
    float: left;
}

.header-menu-settings {
    position: relative;
}

.header-menu-settings-dropdown-title {
    margin-bottom: $sc-margin-lv2;
}

.header-menu-cart {
    float: left;
    position: relative;
    border: 1px solid $sc-header-cart-background-color;

    @media (min-width: $screen-md-min) {
        margin-left: $sc-margin-lv2;
        border: none;
		border-left: 1px solid #ccc;
    }
}
.header-menu-search-icon {
    @extend .fa;
    @extend %fa-search;
    @extend .fa-flip-horizontal;
    color: $sc-header-search-icon-color;

    &:hover, &:active, .active & {
        color: $sc-header-search-icon-hover-color;
    }
}

.header-menu-searchmobile-icon{
    @extend .fa;
    @extend %fa-search;
    @extend .fa-flip-horizontal;
    font-size: $sc-font-size-xxl;
    line-height: $sc-target-size-mobile;
    min-width: $sc-target-size-mobile;

    @media (min-width: $screen-md-min) {
        line-height: $sc-target-size;
        min-width: $sc-target-size;
    }
}

.header-menu-searchmobile {
    float: left;
    margin-right: $sc-margin-lv2;

    @media (min-width: $screen-md-min) {
        display: none;
    }
}

%header-link {
    display: block;
    min-width: $sc-target-size-mobile;
    height: $sc-target-size-mobile;
    line-height: $sc-target-size-mobile;
    color: $sc-header-link-text-color;
    text-align: center;
    position: relative;
    text-transform: $sc-header-link-text-transform;

    @media (min-width: $screen-md-min) {
        min-width: $sc-target-size;
        height: $sc-target-size;
        line-height: $sc-target-size;
    }
}

%header-link:hover, %header-link:focus {
    color: $sc-header-link-hover-text-color;
}
%header-link:active {
    color: $sc-header-link-active-text-color;
}

.header-menu-settings-link,
.header-menu-cart-link,
.header-menu-searchmobile-link
{
    @extend %header-link;
}
.header-menu-cart-link{
	@media (min-width: $screen-md-min) {
        min-width: $sc-target-size;
        height: 85px;
        line-height: 85px;
		margin-left:$sc-margin-lv5;
		margin-right: $sc-margin-lv2;
		&:hover{
		i,span{color:$sc-color-secondary;}
		
		}
    }
}
.header-menu-searchmobile-link {
    overflow: hidden;
}

///////////////////////////////////////////////////////////////
//main nav styles

.header-menu-cart-link {
    overflow: hidden;
    color: $sc-header-cart-link-text-color !important;

    &:hover, &:active, &:focus {
        color: $sc-header-cart-link-text-color !important;
    }
}

.header-menu-cart-link-enabled {
    .header-menu-cart-icon{
        //color: $sc-mobile-header-cart-icon-active-color;
    }
}

.header-menu-cart-legend {
    padding: 0 $sc-padding-lv3 0 0;
    float:right;
    display: none;

    @media(min-width: $screen-md-min) {
        display: inline;
		color:$sc-color-link;
    }
}

.header-menu-cart-icon {
	font-family: 'icomoon' ;
	&:before{
	content: "\e106"; 
	}
    font-size: 18px;
	font-style:normal;
    line-height: $sc-target-size-mobile;
    min-width: $sc-target-size-mobile;
    color: $sc-mobile-header-cart-icon-color;

    @media(min-width: $screen-md-min) {
        line-height: $sc-target-size;
        min-width: $sc-target-size;
    }
}

.header-menu-settings-icon {
    font-size: $sc-font-size-l; // was $sc-h4-font-size;
    @extend .fa;
    @extend %fa-globe;
}

.header-menu-settings-carret {
    margin-left: $sc-margin-base;
    @extend .fa;
    @extend %fa-angle-down;
}

///////////////////////////////////////////////////////////////
//secondary nav styles

.header-secondary-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: - $sc-sidebar-size;
    width: $sc-sidebar-size;
    border-bottom: $sc-main-navigation-border-size solid $sc-main-navigation-border-color;

    @media (min-width: $screen-md-min) {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        width: auto;
        min-height: $sc-main-navigation-height;
        background-color: #fff;
    }
}

///////////////////////////////////////////////////////////////
//header settings

.header-menu-settings-dropdown {
    display: none;
    position: absolute;
    z-index: 1001;
    background: $sc-color-tertiary;
    padding: $sc-padding-lv6;
    left: -130px;
    box-shadow: 0 6px 12px transparentize($sc-theme-color-overlay, 1-0.175);
    border: 1px solid $sc-color-theme-border;
    width: 335px;

    &:before {
        position: absolute;
        top: -7px;
        right: 165px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $sc-color-theme-border;
        border-left: 7px solid transparent;
        border-bottom-color: transparentize($sc-theme-color-overlay, 1-0.2);
        content: '';
    }

    &:after {
        position: absolute;
        top: -6px;
        right: 166px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $sc-color-tertiary;
        border-left: 6px solid transparent;
        content: '';
    }
}

.open .header-menu-settings-dropdown {
    display: block;
}

.open .header-subheader-settings-link {
    i {
        color: $sc-header-link-active-text-color;
    }
}

.nav-search,
.site-search {
  clear: both;
}

.header-site-search {
    display: none;
    width: 100%;

    .site-search-button-submit {
        height: 50px;
    }
}
.header-menu-cart-dropdown{
   

    .open > [data-toggle="dropdown"] {
        color: $sc-desktop-header-cart-open-text-color;
    }
}

.header-sidebar-overlay {}

.header-subheader { // not in Horizon template
    /*background: $sc-color-theme-content-background;
    display:none;
    text-align:right;
    font-size:$sc-font-size-base;
    color: $sc-color-secondary;
    border-top:1px solid $sc-color-theme-border;
    border-bottom:1px solid $sc-color-theme-border;
    @media(min-width: $screen-sm-min) {
        display: none;
    }*/
}

.header-subheader-container {
    //@extend .container;
    padding-right:$sc-padding-lv3;
}

.header-subheader-options {
    padding-top: $sc-padding-lv2;
    padding-bottom: $sc-padding-lv2;

    li {
        display:inline;
        padding-left:$sc-padding-lv3;
    }
}

.header-subheader-settings {
    position:relative;
}

.header-left-content {
    

    & p,
    & blockquote,
    & ul li,
    & ol li {
        font-size: $sc-font-size-xs;
    }

    & p,
    & h1,
    & h2,
    & h3,
    & blockquote,
    & ul li,
    & ol li {
        color: $sc-header-text-color;
    }
	.footer-content-social{
		i{color:#fff;font-size: 14px;}
		a{font-size:14px;}
		
	}
	@media(max-width: $screen-sm-max) {
		text-align:right;
	}
    @media(min-width: $screen-md-min) {
        display: flex;
        flex-direction: row;
        align-items: center;
        float: left;
        height: 32px;
    }
}

/* Store Locator Link */
.header-menu-locator-mobile {
    display:block;
    margin-right: $sc-margin-lv2;
    @media(min-width: $screen-md-min) {
        display: none;
    }

    & .storelocator-accesspoints-headerlink-link {
        float:none;
    }

    & .storelocator-accesspoints-headerlink-link-icon {
        color: $sc-mobile-header-icon-color;

        @media(min-width: $screen-xs-min) {
            float:none;
            font-size: 25px;
            margin-right: $sc-margin-base;
            position:relative;
        }
    }

    & .storelocator-accesspoints-headerlink-link-text {
        @media(min-width: $screen-sm-min) {
            display: none;
        }
    }
}

// Wrapper for logo and Menu

.logo-and-menu {
	@extend .row;
	margin: 0;
  width: 100%;
  @media(min-width: $screen-md-min) {
	background-color: #fff;
	padding:7px 0 7px $sc-padding-lv8;
  }
}


//--------------- fixed header stuff -----------------



//keyframes for slide up
@-webkit-keyframes up {
	0% {
		transform: translate3d(0,-200px,0);
		opacity: 0;
	}
	70% {
		opacity: 1;
		transform: translate3d(0,10px,0);
	}
	100% {
		transform: translate3d(0,0,0);
	 }
 }
@-moz-keyframes up {
	0% {
		transform: translate3d(0,-200px,0);
		opacity: 0;
	}
	70% {
		opacity: 1;
		transform: translate3d(0,10px,0);
	}
	100% {
		transform: translate3d(0,0,0);
	 }
 }
@-o-keyframes up {
	0% {
		transform: translate3d(0,-200px,0);
		opacity: 0;
	}
	70% {
		opacity: 1;
		transform: translate3d(0,10px,0);
	}
	100% {
		transform: translate3d(0,0,0);
	 }
 }
@keyframes up {
	0% {
    transform: translate3d(0,-200px,0);
		opacity: 0;
  }
	70% {
		opacity: 1;
		transform: translate3d(0,10px,0);
	}
  100% {
    transform: translate3d(0,0,0);
   }
}

@media (min-width: $screen-md-min) { //this media query is restricting the solution only for Desktop.
  .shopping-layout-header,
  .myaccount-layout-header {
  	transform: translate3d(0,0,0);
  	transition: all 0.2s;
  	z-index: 1000;
  	position: relative;
  }

  //sticky header
  .fixed-header {
    #main-container {
      //padding-top: calc(85px + 44px);
    }
  	.shopping-layout-header,
    .myaccount-layout-header {
  		position: fixed;
  		z-index: 1000;
  		width: 100%;
  		top: 0;
  		box-shadow: -10px -1px 9px 0px #000;

  		transform: translate3d(0,0,0);
  		-webkit-animation: up 0.3s forwards; /* Safari 4+ */
    	-moz-animation: up 0.3s forwards; /* Fx 5+ */
    	-o-animation: up 0.3s forwards;
  		animation: up 0.3s forwards; /* IE 10+, Fx 29+ */
      max-width: $sc-site-max-width;
  		.banner-header-top-bar {
  			display: none;
  		}
  	}
  }
}
