// Edited for Horizon Theme

.product-views-price-lead{
	@extend .middle-price;
}

.product-views-price-old{
	@extend .old-price;
}

.product-views-price-old + .product-views-price-lead {
    color: $sc-color-quaternary;
    margin-left: $sc-margin-lv2;
}

.product-views-price-login-to-see-prices-highlighted {
	margin-top: $sc-margin-lv2;
    margin-bottom: $sc-margin-lv2;
}
.product-views-price-login-to-see-prices {
    @extend .message;
}

.product-views-price-message {
	font-weight: normal;
	a{color:$sc-color-primary;}
}

.product-views-price{
	padding-bottom: $sc-padding-lv4;
}
.product-views-price-range{}
.product-views-price-exact{}
