.login-register-login-description{
	margin-top: $sc-margin-lv4;
	margin-bottom: $sc-margin-lv4;
}

.login-register-login-form-controls-group{
	margin-top: $sc-margin-lv4;
}



.login-register-login-form-required {
	@extend .input-required;
}

.login-register-login-form-input {
	// @extend .input-large;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 2px solid black;
}

// .login-register-login-submit {
// 	@extend .button-large;
// 	@extend .button-primary;
// 	width: 100%;
//     background: #F58331;
//     border: 1px solid #F58331;
// 	&:hover{
// 		color: #F58331;
// 		background: white;
// 	}
// }

.login-register-login-forgot {

	display:inline-block;
	margin-top: $sc-margin-lv4;

	@media (min-width: $screen-sm-min) {
		margin-top: 0;
		margin-left: $sc-margin-lv2;
	}
}

.login-register-login-form-messages {
	margin-top: $sc-margin-lv4;

	.global-views-message-error {
		@extend .message-error;
		margin-bottom: 0;
	}

	.global-views-message-button {
		display: none;
	}
}

.login-register-login-form-messages-timeout {
	@extend .global-views-message;
	@extend .global-views-message-error;
}

.login-register-login-form-controls-group {
	@extend .login-register-register-form-controls-group;
}


.login-register-login-form-controls {
	@extend .login-register-register-form-controls !optional;
}





