.cart-lines-name{
	margin-bottom:$sc-margin-lv2;
	@media (max-width: ($screen-sm-min)-1px) {
		 padding: 20px 0;
	}
	@media (min-width: $screen-sm-min) {
		width: 30%;
		display: table-cell;
		vertical-align: middle;
		padding: 25px 20px;
		padding-left: 35px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min)
	{
		padding: 10px 10px 10px 20px;
	}
	.cart-lines-name-label{
		float: left;
		font-size: 18px !important;
		font-weight: $sc-font-weight-semibold;
		font-family: $sc-font-family2;
		line-height: 27px;
		color:#0e1b23 !important;
		@media (min-width: $screen-sm-min) {
			display: none;
		}
		@media (max-width: ($screen-sm-min)-1px) {
			width: 30%;

		}
	}
}

.cart-lines-name-link{
	@extend .medium-title-navigable;
}

.cart-lines-name-viewonly{
	@extend .medium-title-viewonly;
	font-size: 18px;
	font-weight: $sc-font-weight-normal;
	font-family: $sc-font-family2;
	text-transform: none;
	line-height: 27px;
	@media (max-width: ($screen-sm-min)-1px) {
		text-align: right;
		width: 70%;
		float: left;
	}
	a{
		color: #de853e;
		&:hover{
			color:#0e1b23;
		}
	}
}

.cart-lines-thumbnail{
	@media (min-width: $screen-sm-min) {
		img{
			width:$img-larger;
		}
	}
	img{
		width:90px;
	}
}

.cart-lines-price{
	@media (min-width: $screen-sm-min) {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
		padding: 25px 20px;
	}
	@media (max-width: ($screen-sm-min)-1px) {
		 padding: 20px 0;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min)
	{
		padding: 10px 10px 10px 20px;
	}
	margin-bottom:$sc-margin-lv2;
	.cart-lines-price-label{
		float: left;
		font-size: 18px !important;
		font-weight: $sc-font-weight-semibold;
		font-family: $sc-font-family2;
		line-height: 27px;
		color:#0e1b23 !important;
		display: block;
		@media (min-width: $screen-sm-min) {
			display: none;
		}
		@media (max-width: ($screen-sm-min)-1px) {
			width: 30%;
		}
	}
	.transaction-line-views-price-exact{
		@media (max-width: ($screen-sm-min)-1px) {
			float: left;
			width: 70%;
			text-align: right;
		}
	}

}

.cart-lines-price .transaction-line-views-price-lead{
	@extend .middle-price;
	font-size: 18px !important;
	font-weight: $sc-font-weight-normal;
	font-family: $sc-font-family2;
	line-height: 27px;
	color:#0e1b23 !important;
	@media (max-width: ($screen-sm-min)-1px) {

	}

}

.cart-lines-options{
	.cart-option{
		font-size:$sc-font-size-m;
	}
}

.cart-lines-row {

	width: 100%;
	@media (min-width: $screen-sm-min) {
		display: table;
		margin-bottom:0;
	}
	@media (max-width: ($screen-sm-min)-1px) {
		min-height: 370px;
		padding: 20px;
	}
	margin-bottom:$sc-margin-lv4;

}
.cart-lines-row:nth-child(even) {background-color: #f7f7f7;}
.cart-lines-row:nth-child(odd) {background-color: #fcfcfc;}

.cart-lines-table-first {

	@media (min-width: $screen-sm-min) {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
		padding: 25px 20px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min)
	{
		padding: 10px 10px 10px 20px;
	}

}

.cart-lines-table-middle {

}

.cart-lines-table-last {

}

.cart-lines-alert-placeholder {
	margin:$sc-margin-lv2 0;
}

.cart-lines-shipping-method {
	margin-top: $sc-margin-lv3;
}

.cart-lines-item-actions-desktop {
	@media (max-width: $screen-md-max) {
		display: none;
	}
}

.cart-lines-item-actions-mobile {
	@media (min-width: $screen-lg-min) {
		display: none;
	}
}
.cart-lines-item-actions-custom{
	@media (min-width: $screen-sm-min) {
		width: 10%;
		display: table-cell;
		vertical-align: middle;
		padding: $sc-padding-lv5;
		padding-right: 0;
		padding-left: ($sc-padding-lv6)+5px;
	}
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-min)
	{
		padding: 10px 10px 10px 20px;
	}
	@media (max-width: ($screen-sm-min)-1px) {
		float: right;
	}
}

.cart-lines-stock{}
.cart-lines-summary{
	@media (max-width: ($screen-sm-min)-1px) {
    padding: 20px 0;
	}
	@media (min-width: ($screen-sm-min)) {
		display: table-cell;
		width:40%;
		padding: 25px 20px;
		vertical-align: middle;
	}
}
