// Edited for Horizon Theme

.cart-title{
	margin-bottom:$sc-margin-lv4;
	padding-bottom:$sc-padding-lv2;
	border-bottom:1px solid $sc-color-theme-border-light;

	@media (min-width: $screen-sm-min) {
		margin-bottom:$sc-margin-lv8;
	}
}

.cart-title-details-count{
	display: block;
	color:$sc-color-primary;
	text-transform: capitalize;

	@media(min-width: $screen-sm-min){
		display:inline-block;
	}
}

.cart-body{
	@extend .row;
	margin-bottom:$sc-margin-lv5;
    padding-bottom:$sc-padding-lv2;
    border-bottom:1px solid $sc-color-theme-border;
}

.cart-left{

	width: 100%;
}

.cart-left {
	.items-views-selected-option-color-tile{

	}

	.items-views-selected-option-picker{
		display: none;
	}
	.items-views-selected-option-label,
	.items-views-selected-option-color p {
		margin-bottom: 0;
	}
}

.cart-right{
  width:100%;

}

.cart-empty{

	width: 100%
}

.button-proceed-checkout{
	@extend .button-large;
	@extend .button-generic;
	@extend .button-primary;
}

.btn-paypal-express {
  text-align: center;
  margin-top: $sc-margin-lv3;
}
// sticky
.cart-proceed-to-checkout-container {
	margin-bottom: $sc-margin-lv4;
	@media (min-width: $screen-sm-min) {
		display: none;
	}
}
.cart-proceed-to-checkout {
	@extend .button-proceed-checkout;
}


.button-saveforlater-addtocart{
	@extend .button-large;
	@extend .button-primary;
	display: block;
	margin-bottom: $sc-margin-lv2;
}

.button-saveforlater-remove{
	@extend .button-small;
	@extend .button-tertiary;
	display: block;
	margin-bottom: $sc-margin-lv8;
}

.saveforlater-actions{
	clear:both;
	display:block;
}

.saveforlater-cell{
	@extend .col-xs-12;
	@extend .col-sm-3;
}

.cart-savedforlater [data-pusher]{
    background: $sc-color-tertiary;
	@media (min-width: $screen-sm-min) {
		background: none;
    }
}

.product-list-details-later-col{
	padding-right:$sc-padding-lv3;
}

.button-saveforlater-addtocart{
	display:inline-block;
	width:auto;
}

.cart-body-empty-title {}
.cart-body-empty-info {
	margin-bottom:$sc-margin-lv8;
}

/* CART ITEM ACTIONS */
.cart-item-actions-links a:first-child {
    padding-left: 0;
}
