
.value-add-service-professional-service-content{
  @extend .row;
  display: inline;
}
.value-add-service-left-content{
  padding-top: 3%;
  padding-right: 5%;
  @media(min-width:$screen-sm-min)and (max-width:$screen-md-min){height: auto;}
  @media(min-width:993px){height:520px ;}
  @media(max-width:$screen-sm-min){height:auto ;}
 
  @extend .col-sm-6;
}
.value-add-service-right-content{
  @extend .col-sm-6;
}
.value-add-services-heading-content{
  @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
    h1{
      font-size: 30px;
    
     
    }
    .value-add-services-main-professional-services{
      color: #F58331;
    }
  }
  // padding-top:3% ;
  @media (max-width:767px){
    h1{
      font-size: 35px;
      font-weight: bold;
    
    }
    .value-add-services-main-professional-services{
      // font-size: 35px;
      color: #F58331;
    }
  }
  @media (min-width:$screen-md-min){
    h1{
      font-size: 40px;
      font-weight: bold;
    
    }
    .value-add-services-main-professional-services{
      color: #F58331;
    }
  }
 
  
  .value-add-services-main-professional-services{
      color: #F58331;
  }
 
}
.value-add-service-description-content{

  p{
      @media (max-width:$screen-sm-min){
          display: none;
      }
  }
  @media (min-width:993px){
    p{
      font-size: 16px;
     
    }
  }
  @media (min-width:$screen-sm-min) and (max-width:$screen-md-min){
    p{
      font-size: 15px;
     
    }
  }
}


  .value-add-service-button1{
      @extend .col-sm-6;
     
      width: 203px;
    
      height: 43.02px;
      border:1px solid #F58331;
      border-radius: 9px;
      float:left;
      text-align:center;
      cursor:pointer; 
      position:relative;
      box-sizing:border-box;
      overflow:hidden;
      margin:20px auto;
      background:#F58331;
      a{
        color: #F58331;
    }
    }
     
    .value-add-service-button1 a{
     
      font-size:20.04px;
      color:#fff;
      text-decoration:none;
     
      line-height: 2.1;
      transition:all .4s ease;
      z-index:2;
      position:relative;
    }
   
    .value-add-service-eff-1{
      width: 100%;
      height:50px;
      left: -100%;
      background:#fff;
      position:absolute;
      transition:all .4s ease;
      z-index:1;
    }
    .value-add-service-button1:hover .value-add-service-eff-1{
      left:0;
    }
    .value-add-service-button1 .value-add-service-anchor1{
      color:#fff;
  }
    .value-add-service-button1:hover a{
      color:#F58331;
    }
  
    @media (max-width: $screen-sm-min) {

      .value-add-service-button1{
          width: 100%;
          box-sizing: border-box;
          float: none;
         
      }
      .value-add-service-eff-1{
          width: 100%;
          left: -100%;
      }
  }
  

.value-add-service-right-content{
    padding: 3%;
    
    @media(max-width:$screen-sm-min){
      padding: 3%;
      text-align: center;
      img{
        width: 100%;
        padding-right: 3%;
      }

    }
    
}
.card-content1{
    border:1px solid rgba(0,0,0,0.2);
    position: relative;
    margin-left: 10px;
    background-color: #FEFEFE;
    h2{
      font-size: 21px;
      font-weight: bold;
    
    }
    p{
      font-size: 16px;
      font-weight: 300;
     
    }
    h2{
      margin-bottom: $sc-margin-lv2+5;
    }
    a{
      font-weight: bold;
      font-size: 18px;
    }
    @media(min-width:1200px){
        
          height: 700px;
          width: 24%;
          p{
            font-size: 16px;
           
          }
          a{
            font-size: 18px;
            
          
          }
    }
    @media (min-width:1000px)and(max-width:1200px){
     
        height: 730px;
        width: 24%;
        h2{
          font-size: 21px;
          font-weight:bold;
        
        }
        p{
          font-size: 16px;
         
        }
        a{
          font-size: 18px;
          font-weight: bold;
        
        }
    }
    @media(min-width:$screen-md-min)and(max-width:999px){
        
        height: 700px;
        width: 24%;
        h2{
          font-size: 21px;
          font-weight: bold;
        
        }
        p{
          font-size: 16px;
         
        }
        a{
          font-size: 18px;
          font-weight: bold;
        
        }
    }
    @media (min-width:$screen-sm-min)and(max-width:890px){
      height: 780px;
      width:23%;
      h2{
       font-size: 18px;
       font-weight: bold;
      
    
      }
      p{
       font-size: 14px;
       font-weight: lighter;
      
      }
      a{
       font-size: 15px;
       font-weight: bold;
     }
    }
    @media(min-width:890px)and(max-width:$screen-md-min){
         height: 600px;
         width:24%;
         h2{
          font-size: 18px;
          font-weight: lighter;
         
        
         }
         p{
          font-size: 14px;
          font-weight: lighter;
         
         }
         
    }
    @media (max-width:767px){
      width: 90%;
      
      margin-bottom: $sc-margin-lv2;
      padding: 5%;
      h2{
        font-size: 21px;
        font-weight: bold;
      

      }
      p{
        font-size: 16px;
        font-weight: lighter;
        padding-bottom: $sc-padding-lv2*5;
       
      }
      a{
        font-size: 18px;
        
      
      }
  }
 a{
     color:#F58331 ;
     position: absolute;
     bottom: 0;
     padding-bottom: $sc-padding-lv2*2;
 }
 @media (max-width:$screen-sm-min){
  img{
    width: 63px;
    height: 38px;
}
}
   
}
.card-content1-1{
  border:1px solid rgba(0,0,0,0.2);
    background-color: #FEFEFE;
    position: relative;
  margin-left: 10px;
  h2{
    margin-bottom: $sc-margin-lv2+5;
  }
  h2{
    font-size: 21px;
    font-weight: bold;
  
  }
  p{
    font-size: 16px;
    font-weight: 300;
  }
  a{
    font-size: 18px;
    font-weight: bold;
  
  }
  @media(min-width:1200px){
    
    height: 700px;
    width: 23%;
    p{
      font-size: 16px;
     
    }
    a{
      font-size: 18px;
      font-weight: bold;
    
    }
}
@media (min-width:1000px)and(max-width:1200px){
  
  height: 730px;
  width: 23%;
  h2{
    font-size: 21px;
    font-weight:bold;
  
  }
  p{
    font-size: 16px;
   
  }
  a{
    font-size: 18px;
    font-weight: bold;
  
  }
}
@media(min-width:$screen-md-min)and(max-width:999px){
  
  height: 700px;
  width: 23%;
  h2{
    font-size: 21px;
    font-weight: lighter;
  
  }
  p{
    font-size: 16px;
   
  }
  a{
    font-size: 18px;
    font-weight: bold;
  
  }
}
  @media (min-width:$screen-sm-min)and(max-width:890px){
    height: 780px;
    width:23%;
    h2{
     font-size: 18px;
     font-weight:bold;
   
    }
    p{
     font-size: 14px;
     font-weight: lighter;
    
    }
    a{
     font-size: 15px;
     font-weight: bold;
   }
  }
  @media(min-width:890px)and(max-width:$screen-md-min){
       height: 600px;
       width: 22%;
       h2{
        font-size: 20px;
        font-weight: lighter;
      
      }
      p{
        font-size: 14px;
        font-weight: lighter;
       
      }

  }
  @media (max-width:767px){
    width: 90%;
    margin-bottom: $sc-margin-lv2;
    padding: 5%;
    h2{
      font-size: 21px;
      font-weight: bold;
    
    }
    p{
      font-size: 16px;
      font-weight: lighter;
      padding-bottom: $sc-padding-lv2*5;
     
    }
    a{
      font-size: 18px;
      font-weight: bold;
    
    }
}
  a{
      color:#F58331 ;
      position: absolute;
      bottom: 0;
      padding-bottom: $sc-padding-lv2*2;
  }

}
.card-content-sub-content{
  @media(min-width:993px){
    padding: 3%;
    margin: 2%;
  }
  padding: 3%;
    margin: 2%;
    @media(min-width:$screen-sm-min)and(max-width:$screen-md-min){
      padding: 1%;
    margin: 2%;
 }
}
.value-add-service-1st-card-content{
  margin-top: $sc-margin-lv2*3;
  margin-bottom: $sc-margin-lv2*3;
}
.card-content-1-img1{
  @media (min-width:993px){
    img{
      width: 26%;
  }
  }
  @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
  //   img{
  //     width: 20%;
  // }
  width: 40%;
  }
  @media (max-width:$screen-sm-min){
    img{
      width: 63px;
      height: 38px;
  }
  }
 
  margin-bottom: $sc-margin-lv2;
}
.card-content-1-img2{

  @media (min-width:993px){
    img{
      width: 23%;
  }
  }
  @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
  
  width: 40%;
  }
  @media (max-width:$screen-sm-min){
    img{
      width: 50px;
      height: 40px;
    }
  }
 


  margin-bottom: $sc-margin-lv2;

}
.card-content-1-img3{
  @extend .card-content-1-img2;
}
.card-content-1-img4{
 
  @media (min-width:993px){
    img{
      width: 24%;
  }
  }
  @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
  width: 35%;
  }
  @media (max-width:$screen-sm-min){
    img{
      width: 53px;
      height: 42px;
  }
  }
  
  margin-bottom: $sc-margin-lv2;
}

 
  .credit-facilities-all-content{

       @media (min-width:$screen-sm-min){
           margin-top: $sc-margin-lv2*3;
           margin-bottom: $sc-margin-lv2*3;
       }

      .card-content11{
          border:1px solid rgba(0,0,0,0.2);
          position: relative;
          margin-left: 10px;
          background: #FEFEFE;
          
          a{
            font-size: 18px;
            font-weight: bold;
          
          }
          h2{
            font-size: 18px;
            font-weight: bold;
          
          }
          p{
            font-size: 16px;
            font: weight 300px;;
           
          }

          @media(min-width:$screen-sm-min)and (max-width:$screen-md-min){
              height: 550px;
              width: 31%;
              margin-right: $sc-margin-lv1;
              h2{
                font-size: 18px;
                font-weight: bold;
              
              }
              .head2{
                margin-bottom: $sc-margin-lv2+5;
              }
              p{
                font-size: 14px;
                font-weight: lighter;
               
              }

          }
          @media (min-width:993px){
            height: 550px;
            width: 32%;
            h2{
              font-size: 21px;
              font-weight: bold;
             
            }
            .head2{
              margin-bottom: $sc-margin-lv2+5;
            }
            p{
              font-size: 16px;
              font-weight: lighter;
             
            }
            
          }          
        @media (max-width:767px){
          width: 90%;
          margin-bottom: $sc-margin-lv2;
          margin-top:$sc-margin-lv2 ;
          padding: 5%;

          h2{
            font-size: 21px;
            font-weight: bold;
            
          }
          p{
            font-size: 16px;
            font-weight: lighter;
            padding-bottom: $sc-padding-lv2*5;
           
          }
          a{
            font-size: 18px;
            font-weight: bold;
          
          }
      }
       a{
           color:#F58331 ;
           position: absolute;
           bottom: 0;
           padding-bottom: $sc-padding-lv2*2;
       }
         
      }
      
       
  }
  .card-content-sub-content1{
    .heading-inside-content{
      @media (max-width:$screen-sm-min){
         margin-bottom: $sc-margin-lv2*2;
      }
    }
      padding: 3%;
        margin: 2%;
    }
    .card-content-1-img11{
     
      @media (min-width:993px){
        img{
         
          width: 16%;
      }
      }
      @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
     
      width: 30%;
      }
      margin-bottom: $sc-margin-lv2;
      @media (max-width:767px){
        img{
          width: 50px;
          height: 40px;
      }
      }
   }
   .card-content-1-img21{
    @media (min-width:993px){
      img{
        
        width: 18%;
    }
    }
    @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
    
    width: 30%;
    }
    @media (max-width:$screen-sm-min){
      img{
        width: 50px;
        height: 50px;
    }
    }
      margin-bottom: $sc-margin-lv2;
   }
   .card-content-1-img41{
    @media (min-width:993px){
      img{
      
        width: 20%;
    }
    }
    @media(max-width:$screen-sm-min){
      width: 53px;
      height: 42px;
    }
    @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
    
    width: 25%;
    }
   
      margin-bottom: $sc-margin-lv2;
   }

  


.find-the-location-content-login{
	@media (max-width:765px){
		padding: 1%;
	}
	@media(min-width:$screen-md-min){
		margin-top: 40px;
	}
 .about-us-button12-login{
	 @extend .col-sm-6;

  @media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
   
    width: 203px;
    height: 43.02px;
  }
  @media (min-width:$screen-md-min){
   
    width: 203px;
    height: 43.02px;
  }
	
	 border:0.3px solid #F58331;
	 border-radius: 9px;
	 float:left;
	 text-align:center;
	 cursor:pointer; 
	 position:relative;
	 box-sizing:border-box;
	 overflow:hidden;
	 margin:20px auto;
	 background:#F58331;
	 a{
	   color: #F58331;
   }
   }
	
   .about-us-button12-login a{
	 font-family:$sc-font-family;
	 color:#fff;
	 text-decoration:none;
   @media (max-width:767px){
     line-height:50px;

   }
	 transition:all .4s ease;
	 z-index:2;
	 position:relative;
	 width: 100%;
	 display: inline-block;
 
  @media(min-width:$screen-sm-min){
    font-size: 20.04px;
    
    padding: 2%;
    font-weight: lighter;
  }
}

  
   .about-us-eff-12-login{
	 width: 100%;
	 height:50px;
	 left: -100%;
	 background:#fff;
	 position:absolute;
	 transition:all .4s ease;
	 z-index:1;
   }
   .about-us-button12-login:hover .about-us-eff-12-login{
	 left:0;
   }
   .about-us-button12-login .anchor12-login{
	 color:#fff;
 }
   .about-us-button12-login:hover a{
	 color:#F58331;
   }
 
   @media (max-width: 767px) {
	 .about-us-button12-login{
		 width: 100%;
		 box-sizing: border-box;
		 float: none;
		 display: none;
	 }
	 .about-us-eff-12-login{
		 width: 100%;
		 left: -100%;
	 }
 }
}
.location-heading-text-content-component-login{
	padding: 2%;
	height: 500px;
	@media(max-width:767px){
	   height: auto;
	   margin-bottom: $sc-margin-lv2*2;
	   p{
      
       color: #222222;
		 margin-bottom: 20px;
		 font-size: 18px;
		 padding-right: 5%;
     font-weight: lighter;
	   }
	}
  @media(min-width:$screen-sm-min) and (max-width:$screen-md-min){
		height: 600px;
		margin-bottom: $sc-margin-lv2*2;
		p{
	   
		color: #222222;
		  margin-bottom: 20px;
		  font-size: 18px;
		  padding-right: 5%;
		font-weight: lighter;
		}
	  }
	@media (min-width:$screen-md-min){
	 height: 600px;
	 margin-bottom: $sc-margin-lv2*2;
	 p{
  
     color: #222222;
	   margin-bottom: 20px;
	   font-size: 18px;
	   padding-right: 5%;
     font-weight: bold;
	 }
	}
}
.location-heading-content-component-login{
	margin-bottom: $sc-margin-lv2+5;
	@media(min-width:$screen-sm-min)and(max-width:$screen-md-min){
	  .heading-1-location-login{
      color: #222222;
	   font-size: 28px;
	   font-weight: bold;
	 
	  }
	  .heading-2-location-login{
	   font-size: 28px;
     color: #222222;
	   font-weight: bold;
	  
	  }
	   
	}
	@media (max-width:767px){
	  .heading-1-location-login{
      color: #222222;
	   font-size: 35px;
	   font-weight: bold;
   
	  }
	  .heading-2-location-login{
      color: #222222;
	   font-size: 35px;
	   font-weight: lighter;
    
	  }
	}
	@media (min-width:$screen-md-min){
	  h2{
	   font-size: 40px;
	   font-weight: bold;
	 
	  }
	   
	}
    
}
.sydney-office-content1-login{

 padding: 2%;
 p{
  color: #222222;
 
	 font-size: 13px;
	 margin-top: $sc-margin-lv2*2;
	 margin-bottom: $sc-margin-lv2*2;
 }
 @media (max-width:767px){
   p{
    color: #222222;
	 font-weight: lighter;
  
	 font-size: 16px;
	 padding-right: 45%;
   }
 }
 @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
	   p{
      color: #222222;
		 font-size: 18px;
    
		 font-weight: lighter;
		 padding-right: 40%;
	   }
 }
 @media (min-width:$screen-md-min){
	p{
    color: #222222;
	  font-size: 18px;
	  font-weight: lighter;
   
	  padding-right: 43%;
    margin-top: $sc-margin-lv2*2;
    margin-bottom: $sc-margin-lv2*2;
	}
}
}
.sydney-office-text-content-login{
  @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
	.sydney-heading-location-login{
	 font-size: 24px;
	 font-weight: lighter;
  
	}
	.highlited-span-content-login{
	 font-weight: bold;
 
	 color: #F58331;
	}
	.component-login{
	  font-size: 23px;
	  font-weight: lighter;
   
	}
  }
  @media (max-width:$screen-sm-min){
	h2{
	 font-size: 30px;
	 font-weight: lighter;
  
	}
	.highlited-span-content-login{
	 font-weight: bold;
	 color: #F58331;
 
	}
  }
  @media (min-width:$screen-md-min){
   .sydney-heading-location-login{
	 font-size: 30px;
	 font-weight: lighter;
  
	}
	.highlited-span-content-login{
	 font-weight: bold;
	 color: #F58331;
 
	}
	.component-login{
	  font-size: 30px;
	  font-weight: lighter;
   
	}
  }
}
.highlited-span-content-login{
	font-weight: bold;
	color: #dd7e43;

}
.sydney-map-content1-login{
 position: relative;
 @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
   width: 230px;
   height: 220px; 
   img{
	 width: 100%;
	 height: 100%;
   }
 }
 @media (min-width:993px)and (max-width:1199px){
  width: 300px;
  height: 200px;
  img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width:1200px){

width: 369px;
height: 221px;
img{
height: 100%;
width: 100%;
}
}

@media (max-width:767px){
  img{
    width: 100%;
    height: 100%;
  }
}

}
.mailborney-office-content1-login{
 padding: 2%;
 p{

	 font-size: 13px;
	 margin-top: $sc-margin-lv2*2;
   color: #222222;
  
   font-weight: lighter;
	 margin-bottom: $sc-margin-lv2*2;
 }
 @media (max-width:767px){
   p{
	 font-weight: lighter;
	 font-size: 16px;
	 padding-right: 45%;
   }
 }
 @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
   p{
	 font-size: 18px;
   color: #222222;
	 font-weight: lighter;
	 padding-right: 40%;
  
   }
}
@media (min-width:$screen-md-min){
	p{
    color: #222222;
	  font-size: 18px;
	  font-weight: lighter;
	  padding-right: 43%;
   
    margin-top: $sc-margin-lv2*2;
    margin-bottom: $sc-margin-lv2*2;
	}
 }
}
.mailborney-office-text-content-login{
 @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
  .melborney-heading-content-1-login{
   font-size: 23px;
   font-weight: lighter;
  
  }
  .highlited-span-content-login{
   font-weight: bold;
   color: #F58331;
 
  }
  .melborney-heading-content-2-login{
   font-size: 22px;
   font-weight: lighter;
  
  }
 }
@media (max-width:767px){
	.melborney-heading-content-1-login{
   font-size: 30px;
   font-weight: lighter;
  
 }
 .melborney-heading-content-2-login{
	 font-size: 30px;
	 font-weight: lighter;
  
	}
	.highlited-span-content-login{
	 font-weight: bold;
	 color: #F58331;
 
	}
}
 
@media (min-width:$screen-md-min){
	.melborney-heading-content-1-login{
   font-size: 30px;
   font-weight: lighter;
  
  }
  .highlited-span-content-login{
   font-weight: bold;
   color: #F58331;
 
  }
  .melborney-heading-content-2-login{
	font-size: 30px;
	font-weight: lighter;
 
  }
}
  
}
.mailborney-map-content1-login{
 position: relative;
 overflow: hidden;

 @media (min-width:$screen-sm-min)and(max-width:$screen-md-min){
   width: 230px;
   height: 220px; 
   img{
	 width: 100%;
	 height: 100%;
   }
 }
@media (min-width:993px)and (max-width:1199px){
  width: 300px;
  height: 200px;
  img{
    width: 100%;
    height: 100%;
  }
}
@media (min-width:1200px){

width: 369px;
height: 221px;
img{
	width: 100%;
	height: 100%;
}
}
@media (max-width:767px){
  img{
    width: 100%;
    height: 100%;
  }
}
}

// for mobile view less then 767

@media(max-width:$screen-xs-max){
  .value-add-service-1st-card-content-top-content{
    .card-content1{
      h2{font-size: 21px; font-weight: bold;}
      a{
        font-weight: bold;
      }
    
    }
    .card-content1-1{ h2{font-size: 21px; font-weight: bold;}}
  }
  .credit-facilities-all-content{
    .card-content11{   h2{font-size: 21px; font-weight: bold;}}
  }
}