// Edited for Horizon Theme

.header-profile-welcome-link,
.header-profile-login-link,
.header-profile-register-link,
.header-profile-loading-link {
	@extend %header-link;
	height: $sc-main-navigation-height;
	@media (min-width: $screen-md-min){
		line-height: $sc-main-navigation-height;
	}
    padding: 0 $sc-padding-lv1;
    margin-right: $sc-margin-lv1;
	font-size:13px;
    color: $sc-color-link;
    font-weight: normal;
}



.header-profile-welcome-link-name{
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	@media (min-width: $screen-md-min){
		display: inline;
	}
}

.header-profile-welcome-user-icon{
	@extend .fa;
	@extend %fa-user;

	float:left;
	font-size: $sc-font-size-l;
	padding: $sc-padding-base 0;
	margin-right: $sc-margin-lv3;

	@media (min-width: $screen-md-min){
		display: none;
	}
}

.header-profile-welcome-carret-icon{
	@extend .fa;
	@extend %fa-angle-down;
	display:none;
	margin-left: $sc-margin-base;

	@media (min-width: $screen-md-min){
		display: inline;
	}
}

//////////////////////////////////////////////////////////
//login register

.header-profile-menu-login{
	color: $sc-color-theme;
}

.header-profile-menu-login-container{
	margin-right:$sc-margin-base;
}

.header-profile-menu-login li{
	display:inline-block;
}

.header-profile-login-icon{
	@extend .fa;
	@extend %fa-user;
	font-size: $sc-font-size-m;
}

//////////////////////////////////////////////////////////
//my account menu
.header-profile-menu-myaccount-container {
	@extend .header-menu-level-container;
	background-color: $sc-color-tertiary;
	z-index: 1002;
}

.open .header-profile-menu-myaccount-container {
	padding: $sc-padding-lv3 0 $sc-padding-lv7;
}

.header-profile-loading-icon{}
.header-profile-loading-indicator{}
