.home {
  @extend .container;
  p{
    font-weight: lighter;
  }
  .location-heading-text-content-component-login{
    @media (min-width:$screen-sm-min){
      .location-content-p-tag{

        font-weight: bold;
      }
    }
    @media (max-width:767px){
      .location-content-p-tag{

        // font-weight: bold;
        font-weight: lighter;
      }
    }
  }
}
// .channel-paragraph-content-p2
.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}


.home-slider-container {
  margin-top:$sc-margin-lv4;
  margin-bottom:$sc-margin-lv4;
  @extend .row;
}
.home-image-slider {
  @extend .col-sm-12;}

// start bx-slider specifics
$sc-image-slider-height: 400px;
$sc-image-slider-max-width: 1140px;
$sc-image-slider-max-width-mobile: 767px;

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-margin-lv8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-margin-lv2;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  height: $sc-image-slider-height !important;
}
.home-image-slider .bx-viewport ul li {
  overflow:hidden;
}

.home-image-slider .bx-wrapper .home-slide-image-container {
  margin: auto 0;
  margin-top: 100px;
  float:none;

  @media (min-width: $screen-sm-min) {
    max-width: $sc-image-slider-max-width !important;
    float:right;
    margin: 0 $sc-margin-lv1 * 12 0 0;
    width:350px;
    padding: $sc-margin-lv6;
  }
}

.home-gallery-prev-icon, .home-gallery-next-icon {
  position: absolute;
  top: 40%;
  width: $sc-target-size-mobile;
  height: $sc-target-size-mobile;
  font-size: 50px;
  color: $sc-color-theme-500;
}

.home-gallery-prev-icon {
  left: 30px;
  @extend .icon-angle-left;

}

.home-gallery-next-icon {
  right: 30px;
  text-align: right;
  @extend .icon-angle-right;
}

.home-image-slider .bx-pager {

  a {
    color: $sc-color-theme-500 !important;
    background-color: $sc-color-theme-500 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size:0;
    text-indent:-9999px;
  }
  a.active{
    background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {

  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-margin-lv4;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}
// end bx-slider specifics

.home-banner-main {
  margin-bottom:$sc-margin-lv4;
  @extend .row;
}

.home-banner-main-cell-nth0{
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align:center;
  margin-bottom:$sc-margin-lv4;

  img {
    margin:auto;
    float:left;
    @media (min-width: $screen-sm-min) {
      max-width:100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}
.home-banner-main-cell-bg{
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text{
  display:inline-block;
  color:$sc-color-theme-700;
  font-size:$sc-font-size-xl;
  text-transform:uppercase;
  font-weight:$sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display:none;
  }
}

.home-merchandising-zone {

  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
      display: none;
  }
  .item-cell-main-image {
    margin:0 auto;
    width: $img-medium;
  }
}

.home-slide-main-container{
  background:$sc-color-theme-background;
  overflow:hidden;
  height:400px;
  text-align:center;
  @media (min-width: $screen-sm-min) {
    height:100%;
  }
}
.home-slide-caption{
  position:absolute;
  top:0px;
  width:100%;
  text-align:center;
  padding:$sc-margin-lv2;
  height:80%;
  @media (min-width: $screen-sm-min) {
    width:50%;
    padding:$sc-padding-lv8 $sc-padding-lv1 * 12;
    padding-right:0px;
    text-align:left;
    height: auto;
    position: relative;
  }

  h2.home-slide-caption-title{
      margin-bottom:$sc-margin-lv2;
      font-size:$sc-font-size-m * 2.66;
      line-height: $sc-font-size-m * 2.66;
      color:$sc-color-secondary;
      @media (min-width: $screen-sm-min){
          margin-bottom:$sc-margin-lv4;
      }
  }
  p{
    display:none;
    @media (min-width: $screen-xs-min){
      display:block;
      margin-bottom:$sc-margin-lv4;
      color:$sc-color-theme-700;
      font-size:$sc-font-size-xl;
      text-transform:uppercase;
      font-weight:$sc-font-weight-light;
    }
    @media (min-width: $screen-sm-min){
      font-size:$sc-font-size-xl;
    }
  }

  .home-slide-caption-button-container{
    padding-left:$sc-padding-lv4;
    padding-right:$sc-padding-lv4;
    position:absolute;
    margin-left: -$sc-padding-lv1 *2;
    bottom:-60px;
    width: 100%;
    @media (min-width: $screen-sm-min){
      padding:0;
      margin-left:0;
      margin-right:0;
      position:relative;
      bottom:0px;
    }
  }

  .home-slide-caption-button{
    @extend .button-primary;
    @extend .button-large;
    @media (min-width: $screen-xs-min){
      width: auto;
      position:relative;
    }
  }
}

// custom for cms  =============================================
.home-main-content-local-communication{
  @extend .row;
  // width: 100%;
  // height: auto;
  
  // display: flex;
  // @extend ;
  @media (min-width: $screen-md-min){
    // font-size: 38px;
  
 }
 @media (min-width:$screen-sm-min){
    // background-color: #d66243;
    margin-top: $sc-margin-lv4*2;
    margin-bottom: $sc-margin-lv4*2;
 }
}
.home-main-local-communication-some-content{
  // width: 100%;
  // height: auto;
  // display: grid;
  // @extend .container;
//  @extend .col-sm-6;
}
.home-main-local-communication{
  
 @extend .col-sm-6;
  @media (min-width: $screen-sm-min){
    // font-size: 38px;
    // width: 50%;
    // height: auto;
    // margin-left: 50px;
 }
  // text-align: center;
  // vertical-align: middle;
}
.home-main-local-communication-heading-content{
  // width: 100%; 

  h1{
    @media (min-width: $screen-md-min){
       font-size: 40px;
      //  line-height: 1rem;
       letter-spacing: 0.5px;
       word-spacing: 1.5px;
       
    }
    @media (min-width: $screen-sm-min)and(max-width: $screen-md-min){
       font-size: 30px;
    }
      font-weight: 700;
      // font-size: 28px;
      @media (max-width: $screen-sm-min){
        
        // line-height: 4em;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 1em;
      
      // background: #d66243;
      //  line-height: 1rem;
      //  margin-right:$sc-margin-lv2 ;
    }
  }

}
.home-main-local-communication-paragraph-content{
  display: flex; 
  margin-top: $sc-margin-lv2;
  .any{
      border-right: 2px solid #4D5256;
  }
  // @media (max-width: $screen-xs-min){
  //   p{

  //     font-size: 1.2rem;
  //     letter-spacing: 1px;
  //     line-height: 1em;
  //   }
    // background: #d66243;
    //  line-height: 1rem;
    //  margin-right:$sc-margin-lv2 ;
  }
  // justify-content: space-between;
  .home-main-local-communication-paragraph-content-p1{
    margin-right:$sc-margin-lv2 ;
    line-height: 1em;

      .home-paragraph-content-p1{
        @media (min-width:$screen-md-min){
          font-size: 20px;
          //  line-height: 1rem;
           letter-spacing: 1px;
        }
       
        @media (min-width: $screen-sm-min)and (max-width:$screen-md-min) {
          font-size: 20px;
         //  line-height: 1rem;
          letter-spacing: 1px;
          // word-spacing: 1.5px;
          
       }
       @media (max-width: 767px){
        
    
          font-size: 15px;
          letter-spacing: 1px;
          line-height: 1em;
        
        // background: #d66243;
        //  line-height: 1rem;
        //  margin-right:$sc-margin-lv2 ;
      }
      }
  }
  .home-main-local-communication-paragraph-content-p2{
    margin-right:$sc-margin-lv2 ;
    margin-left:$sc-margin-lv2 ;
    line-height: 1em;
    .home-paragraph-content-p2{
     
      @media (min-width:$screen-md-min){
        font-size: 20px;
        //  line-height: 1rem;
         letter-spacing: 1px;
      }
     
      @media (min-width: $screen-sm-min)and (max-width:$screen-md-min) {
        font-size: 20px;
       //  line-height: 1rem;
        letter-spacing: 1px;
        // word-spacing: 1.5px;
        
     }
     @media (max-width: 767px){
      
  
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 1em;
      
      // background: #d66243;
      //  line-height: 1rem;
      //  margin-right:$sc-margin-lv2 ;
    }
    }
 
  }
  .home-main-local-communication-paragraph-content-p3{
    margin-right:$sc-margin-lv2 ;
    margin-left:$sc-margin-lv2 ;
      line-height: 1em;
    .home-paragraph-content-p3{
     
      @media (min-width:$screen-md-min){
        font-size: 20px;
        //  line-height: 1rem;
         letter-spacing: 1px;
      }
     
      @media (min-width: $screen-sm-min)and (max-width:$screen-md-min) {
        font-size: 20px;
       //  line-height: 1rem;
        letter-spacing: 1px;
        // word-spacing: 1.5px;
        
     }
     @media (max-width: 767px){
      
  
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 1em;
      
      // background: #d66243;
      //  line-height: 1rem;
      //  margin-right:$sc-margin-lv2 ;
    }
    }
   
  
  

}
h1{
  // font-family: $sc-font-family-custom;
}
// .home-main-local-communication-button-content{
//   // border: 1px solid;
//   // display: grid;
 
//   margin-top: $sc-margin-lv3;
//   @media (min-width: $screen-md-min){
//     display: flex;
//     font-size: 20px;
    
//     // font-weight: 700;
//    //  line-height: 1rem;
//     // letter-spacing: 0.5px;
//     // word-spacing: 1.5px;
    
//  }
//  @media(min-width:$screen-sm-min) and(max-width:$screen-md-min){
//   font-size: 16px;
//   display: flex;
//  }
// }
// .home-main-local-communication-button-content-b1{
//   // @extend .row;
//   @media(min-width:$screen-sm-min){
//     margin-right: $sc-margin-lv2;
//   }
//   @media(max-width:$screen-sm-min){
//     margin-bottom: $sc-margin-lv3;
//   }
  
  
//   .home-main-local-communication-anchor1{
//     @media (min-width: $screen-sm-min){
//       //     display: grid;
//       //     // font-size: 20px;
//       //     // font-weight: 700;
//       //    //  line-height: 1rem;
//       //     // letter-spacing: 0.5px;
//       //     // word-spacing: 1.5px;
//       //     padding: 10px 25px 10px 25px;
      
//       border-radius: 7px;
//       color: white;
//       display: inline-block;
//       animation: leaves 0.4s forwards;
//       cursor: pointer;
//       background:#d66243 ;
//       border: 1px solid #d66243;
//       padding: 10px 25px 10px 25px;
//       display: block;
//       text-decoration: none;
//       &:hover{
//         color: #d66243;
//         border: 1px solid #d66243;
//         animation: hovers 0.4s forwards;
//       }
//       @keyframes hovers {
//         from {
//             box-shadow: inset 0 0 0 0.01px white;
//         }
//         to {
//             box-shadow: inset 8.79928em 0 0 0.01px white;
//             color: #d66243;
//         }
//       }
//          @keyframes leaves {
//           from {
//               box-shadow: inset -8.79928em 0 0 0.01px white;
//               color: #d66243;
//           }
//           to {
//               box-shadow: inset 0 0 0 0.01px white;
//           }
//         }
//     }
//     @media (max-width:$screen-sm-min){
//       border-radius: 7px;
//       color: white;
//       display: inline-block;
//       text-align: center;
//       // animation: leave 0.4s forwards;
//       cursor: pointer;
//       background:#d66243 ;
//       border: 1px solid #d66243;
//       padding: 10px 25px 10px 25px;
//       display: block;
//       text-decoration: none;
//       &:hover{
//         color: #d66243;
//         border: 1px solid #d66243;
//         background:white ;
//         // animation: hover 0.4s forwards;
//       }
//      }
//   }
   

  
// }
// .home-main-local-communication-button-content-b2{
//   // @extend .row;
//   @media(max-width:$screen-sm-min){
//     margin-bottom: $sc-margin-lv3;
//   }
//   .home-main-local-communication-anchor2{
//     // @extend .button-medium;
//     @media (min-width:$screen-sm-min){
     
//       border-radius: 7px;
//     color: #d66243;
//     display: inline-block;
//     animation: leave 0.4s forwards;
//     cursor: pointer;
//     background:white ;
//     border: 1px solid #d66243;
//     padding: 10px 25px 10px 25px;
//     display: block;
//     text-decoration: none;
//     &:hover{
//       color: white;
//       border: 1px solid #d66243;
//       animation: hover 0.4s forwards;
//     }
  
//   @keyframes hover {
//     from {
//         box-shadow: inset 0 0 0 0.01px #d66243;
//     }
//     to {
//         box-shadow: inset 8.79928em 0 0 0.01px #d66243;
//         color: white;
//     }
// }

// @keyframes leave {
//     from {
//         box-shadow: inset -8.79928em 0 0 0.01px #d66243;
//         color: white;
//     }
//     to {
//         box-shadow: inset 0 0 0 0.01px #d66243;
//     }
// }
// }
//      @media (max-width:$screen-sm-min){
//       border-radius: 7px;
//       color: #d66243;
//       display: inline-block;
//       text-align: center;
//       // animation: leave 0.4s forwards;
//       cursor: pointer;
//       background:white ;
//       border: 1px solid #d66243;
//       padding: 10px 25px 10px 25px;
//       display: block;
//       text-decoration: none;
//       &:hover{
//         color: white;
//         border: 1px solid #d66243;
//         background:#d66243 ;
//         // animation: hover 0.4s forwards;
//       }
//      }
//     }
   
// }


.home-service-button1{
  @extend .col-sm-6;
  // width: 35%;
  // height:50px;
  border:1px solid #F58331;
  border-radius: 9px;
  float:left;
  text-align:center;
  cursor:pointer; 
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:20px auto;
  background:#F58331;
  a{
    color: #F58331;
}
@media (min-width:$screen-sm-min){
    margin-right: $sc-margin-lv2*2;
}
@media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  width: 45%;
  // width: 173.2px;
  height:34.17px;
}
@media (min-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  // width: 35%;
  width: 173.2px;
  height:34.17px;
}
@media (max-width:767px){
    //  height: 50px;
}
}
 
.home-service-button1 a{
  font-family:$sc-font-family;
  font-size:17.09px;
  font-weight: lighter;
  color:#FFFFFF;
  text-decoration:none;
  @media (min-width:$screen-sm-min){
    line-height: 30px;
  }
  @media(max-width:767px){

    line-height:50px;
  }
  transition:all .4s ease;
  z-index:2;
  position:relative;
}
// a{
//     color: $orange;
// }
.home-service-eff-1{
  // width: 220px;
  width: 100%;
  height:50px;
  // left: -220px;
  left: -100%;
  background:#FFFFFF;
  position:absolute;
  transition:all .4s ease;
  z-index:1;
}
.home-service-button1:hover .home-service-eff-1{
  left:0;
}
.home-service-button1 .home-service-anchor1{
  color:#FFFFFF;
}
.home-service-button1:hover a{
  color:#F58331;
}

@media (max-width: 767px) {
  .about-us-video-cms-area{
    width: 100%;
  }
  .about-us-video-text-cms-area{
    width: auto;
  }
  .home-service-button1{
      width: 100%;
      box-sizing: border-box;
      float: none;
      // display: none;
  }
  .home-service-eff-1{
      width: 100%;
      left: -100%;
  }
}

.home-service-button2{
  @extend .col-sm-6;
  
  // height: 50px;
  @media (max-width:767px){
    // height: 50px;
  }
  border:1px solid #F58331;
  border-radius: 9px;
  float:left;
  text-align:center;
  cursor:pointer; 
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:20px auto;
  background:#FFFFFF;
  a{
    color: #FFFFFF;
}
@media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  // width: 173.2px;
  width: 45%;
  height:34.17px;
}
@media (min-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  width: 173.2px;
  height:34.17px;
}
}
 
.home-service-button2 a{
  font-family:$sc-font-family;
  font-size:17.09px;
  font-weight: lighter;
  color:#F58331;
  text-decoration:none;
  // line-height:50px;
  @media (min-width:$screen-sm-min){
    line-height: 30px;
  }
  @media(max-width:767px){

    line-height:50px;
  }
  transition:all .4s ease;
  z-index:2;
  position:relative;
}
// a{
//     color: $orange;
// }
.home-service-eff-2{
  // width: 220px;
  width: 100%;
  height:50px;
  // left: -220px;
  left: -100%;
  background:#F58331;
  position:absolute;
  transition:all .4s ease;
  z-index:1;
}
.home-service-button2:hover .home-service-eff-2{
  left:0;
}
.home-service-button2 .home-service-anchor2{
  color:#F58331;
}
.home-service-button2:hover a{
  color:#FFFFFF;
}

@media (max-width: 767px) {
  .about-us-video-cms-area{
    width: 100%;
  }
  .about-us-video-text-cms-area{
    width: auto;
  }
  .home-service-button2{
      width: 100%;
      box-sizing: border-box;
      float: none;
      // display: none;
  }
  .home-service-eff-2{
      width: 100%;
      left: -100%;
  }
}





.home-main-content-local-communication-image{
  // width: 50%;
  // height: auto;
  @extend .col-sm-6;
  @media (min-width: $screen-sm-min){
    // float: right;

  }
  .home-main-local-communication-image-subtab{
    padding: 2%;
    @media (max-width:767px){
      text-align: center;
      img{
        width: 100%;
      }
    } 
    
  }
}
.home-main-centered{
  // @extend .row;
  
  @media  (min-width: $screen-sm-min)and ( max-width:$screen-md-min ){
   
    padding-top: 8%;
    padding-right: 8%;
   
    
 }
 @media (min-width: $screen-md-min){
  //  background-color: #d66243;
  // transform: translateY(50%);
  padding-top: 8%;
    padding-right: 8%;
 }
}
.home-service-left-content{
  // @extend .col-sm-12;
  @media(max-width: 1001px){
    //  .col-sm-12;
    width: 100%;
  }
  @media (min-width: $screen-md-min){height: 694px;}
  // background: #0e1b23;
  text-align: center;
  // padding: 50px 25px;
  padding: 100px 25px;
  p{
    // color: white;
    color: black;
    font-weight: lighter;
    font-family: $sc-font-family;
    font-size: 16px;
    text-align: center;
  }
  .img-container{
    width: 138px;
    height: 120px;
    margin: auto;
    // margin-bottom: 25px;
    position: relative;
  }
}
.home-service-right-content{
  @media(max-width: 1001px){
    //  .col-sm-12;
    width: 100%;
  }
  @media (min-width:808px){height: 694px;}
  @media (min-width:$screen-sm-min) and (max-width:807px){margin-bottom: 40px;}
  .text-contents{
    
    @media (min-width:$screen-sm-min){padding-left: 20px;}
    // @media(min-width:$screen-sm-min){

      // .heading-1{
      //   font-size:3.125rem;
      //   font-weight: 700;
      // }
      // .heading-2{
      //   font-size: 34px;
      //   font-weight: 600;
      // }
      // p{
      //   font-size: 18px;
      //   font-weight: normal;
      //   color: #fff;
      //   margin: $sc-margin-lv2*4 0;
      // }
      @media (min-width: $screen-lg-min) {font-size:66px;}
			.heading-1{
        @media (max-width:767px){
          font-size:38px;
          font-weight:700;
        }
       
				@media (min-width: $screen-sm-min){
          font-size:50px;
          font-weight: 600;
        }
			}
			.heading-2{
        
        @media (max-width:767px){
          font-size:26px;
          font-weight:lighter;
        }
				@media (min-width: $screen-sm-min){
          font-size:34px;
        }
			}
			p{
        @media (min-width:$screen-sm-min){
          
          font-size:18px;
        }
        @media (max-width:767px){
           font-size: 16px;
        }
        font-weight:lighter;
        color:#222222;
        margin:$sc-margin-lv4 *2 0;
      }
    // }
    
  }
  .underline-content{
    width: 50%;
    p{
      border-bottom: 2px solid #F58331
    }

  }
  
.home-service-button3{
  @extend .col-sm-6;
  // width: 35%;
  @media (max-width:767px){
    // height:50px;
  
  }
  border:1px solid #F58331;
  border-radius: 9px;
  float:left;
  text-align:center;
  cursor:pointer; 
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:20px auto;
  display: grid;
  background:#F58331;
  a{
    color: #F58331;
}
@media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  width: 203px;
  height: 43.02px;
}
@media (min-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  // width: 35%;
  width: 203px;
  height: 43.02px;
}
@media (min-width:$screen-sm-min){
    margin-right: $sc-margin-lv2*2;
}
}
 
.home-service-button3 a{
  font-family:$sc-font-family;
  // font-size:16px;
  @media(max-width:767px){
    font-size: 17.09px;
   font-weight: lighter;
    line-height:50px;
  }
  @media(min-width:$screen-sm-min){
    font-size: 20.04px;
    // line-height: 35px;
    padding: 2%;
    font-weight: lighter;
  }
  color:#fff;
  text-decoration:none;
  transition:all .4s ease;
  z-index:2;
  position:relative;
}
// a{
//     color: $orange;
// }
.home-service-eff-3{
  // width: 220px;
  width: 100%;
  height:50px;
  // left: -220px;
  left: -100%;
  background:#fff;
  position:absolute;
  transition:all .4s ease;
  z-index:1;
}
.home-service-button3:hover .home-service-eff-3{
  left:0;
}
.home-service-button3 .home-service-anchor3{
  color:#fff;
}
.home-service-button3:hover a{
  color:#F58331;
}

@media (max-width: 767px) {
  .about-us-video-cms-area{
    width: 100%;
  }
  .about-us-video-text-cms-area{
    width: auto;
  }
  .home-service-button3{
      width: 100%;
      box-sizing: border-box;
      float: none;
      // display: none;
  }
  .home-service-eff-3{
      width: 100%;
      left: -100%;
  }
}

.home-service-button4{
  @extend .col-sm-6;
  // width: 35%;
  // height:50px;
  border:1px solid #F58331;
  border-radius: 9px;
  float:left;
  text-align:center;
  cursor:pointer; 
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:20px auto;
  background:#fff;
  // display: grid;
  display: grid;
  a{
    color: #fff;
}
@media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  // width: 45%;
  width: 203px;
  height: 43.02px;
}
@media (min-width:$screen-md-min){
  // margin-right: $sc-margin-lv2*2;
  // width: 35%;
  width: 203px;
  height: 43.02px;
}
@media(max-width:767px){
//  height:50px;
}
@media (min-width:$screen-sm-min){
  margin-right: $sc-margin-lv2*2;
}
}
 
.home-service-button4 a{
  font-family:$sc-font-family;
  // font-size:16px;
  
  @media(max-width:767px){
    font-size: 17.09px;
    font-weight: lighter;
    line-height:50px;
  }
  @media(min-width:$screen-sm-min){
    font-size: 20.04px;
    line-height: 35px;
    padding: 2%;
    font-weight: bold;
  }
  color:#F58331;
  text-decoration:none;
  line-height:50px;
  transition:all .4s ease;
  z-index:2;
  position:relative;
}
// a{
//     color: $orange;
// }
.home-service-eff-4{
  // width: 220px;
  width: 100%;
  height:50px;
  // left: -220px;
  left: -100%;
  background:#F58331;
  position:absolute;
  transition:all .4s ease;
  z-index:1;
}
.home-service-button4:hover .home-service-eff-4{
  left:0;
}
.home-service-button4 .home-service-anchor4{
  color:#F58331;
}
.home-service-button4:hover a{
  color:#fff;
}

@media (max-width: 767px) {
  .about-us-video-cms-area{
    width: 100%;
  }
  .about-us-video-text-cms-area{
    width: auto;
  }
  .home-service-button4{
      width: 100%;
      box-sizing: border-box;
      float: none;
      // display: none;
  }
  .home-service-eff-4{
      width: 100%;
      left: -100%;
  }
}



  // .home-main-local-communication-anchor1{
    
  //   @media (max-width:$screen-sm-min){
  //     &:hover{
  //     background: transparent;
  //   }
  //   }
  //   @media (min-width: $screen-sm-min){
  //     //     display: grid;
  //     //     // font-size: 20px;
  //     //     // font-weight: 700;
  //     //    //  line-height: 1rem;
  //     //     // letter-spacing: 0.5px;
  //     //     // word-spacing: 1.5px;
  //     //     padding: 10px 25px 10px 25px;
      
  //     border-radius: 7px;
  //     color: white;
  //     display: inline-block;
  //     animation: leavesd 0.4s forwards;
  //     cursor: pointer;
  //     background:#d66243 ;
  //     border: 1px solid #d66243;
  //     padding: 10px 25px 10px 25px;
  //     display: block;
  //     text-decoration: none;
  //     &:hover{
  //       color: #d66243;
  //       border: 1px solid #d66243;
  //       animation: hoversd 0.4s forwards;
  //     }
  //     @keyframes hoversd {
  //       from {
  //           box-shadow: inset 0 0 0 0.01px white;
  //       }
  //       to {
  //           box-shadow: inset 8.79928em 0 0 0.01px white;
  //           color: #d66243;
  //           // background: transparent;
  //       }
  //     }
  //        @keyframes leavesd {
  //         from {
  //             box-shadow: inset -8.79928em 0 0 0.01px white;
  //             color: #d66243;
  //             // background: transparent;
  //         }
  //         to {
  //             box-shadow: inset 0 0 0 0.01px white;
  //         }
  //       }
  //   }
   
  // }
  // .home-main-local-communication-anchor2{
    
  //     background: transparent;
    
  // }

}
.warehouse-content{
  @extend .col-sm-6;
  @media (max-width:760px){
      display: flex;
  }
}
.support-content{
  @extend .col-sm-6;
  @media (max-width:760px){
    display: flex;
}
}
.relationship-content{
  @extend .col-sm-6;
  @media (max-width:760px){
    display: flex;
}
}
.technical-training-content{
  @extend .col-sm-6;
  @media (max-width:760px){
    display: flex;
}
}
.devider{
  @media (min-width:760px){
    // display: flex;
    margin-bottom: 60px;
}
}
.home-services-section{
  // .col-sm-8 {
     @media (max-width:450px){
    // min-width: 66.66666667%;
    margin-bottom: 40px;
  }
  // }
}
.home-service-right-content{
  // overflow-x: hidden;
  // @media (min-width:$screen-sm-min){
  //   width: 66.66666667%;
  // }
  // background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url("https://www.miadistribution.com.au/sca-dev-2020-1/extensions/MIA/MiaDistributionTheme/1.0.0/img/warehouse-greyscale.png");
  background-size: cover;
 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  // padding-top: 8%;
  // padding-left: 8%;
  @media (min-width:$screen-md-min){
    // width: 66.66666667%;
    padding-top: 8%;
    padding-left: 8%;
  }
  // color: #fff;
  color: black;
  p{
    color: black;
  }
}
.choose-a-channel-text{
  // @extend .heading-1;
  @extend .col-sm-12;
  @media (max-width:767px){
    font-size:38px;
    font-weight:700;
  }
 
    @media (min-width: $screen-sm-min){font-size:50px; font-weight: 600;}
  
}
// .venders-content ul{
//   display: flex;
  
//   // @extend .row;
//   // text-decoration: none;
//    li{
//     //  @extend .col-sm-4;
//     list-style: none;
//     margin-right: $sc-margin-lv2+5;
//     #focusmeplease{
//       margin-top: 10px;
//     }
//    a{
//     text-decoration: none;
//     color: black;
//     font-weight: 600;
//     // align-items: center;
//     // display: grid;
//     // justify-content: center;
//     font-size: 18px;
//     // text-align: center;
//     // justify-content: center;
//     &:hover{
//       color: #dd7e43;
//     }
//    }
//    .roll2{
//      width: 1px;
//      height: 100%;
//     border-right:1px solid black;
//    }
//   //  .roll-1{
//   //   border-right:1px solid black;
//   //  }
//   }

// }
// .venders-content ul .vertical-ruler-1 .roll1{
//    border-right:1px solid black;
//    width: 1px;
//    height: 100%;
// }
// .venders-content ul li{
//   text-decoration-style: none;
// }
.hr-content-3{
  @media(min-width:$screen-sm-min){
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    hr{
      background-color: #E6E6E6;
    }
  }
  @media(max-width:767px){
     display: none;
  }
}
.home-main-hr1{
  @extend .hr-content-3;
}
.channel-content{
  @extend .col-sm-12;
  display: flex; 
  margin-top: $sc-margin-lv2;
  margin-bottom: $sc-margin-lv2;
  .any{
      border-right: 2px solid #4D5256;
  }
  @media (max-width:767px){
          
    display: none;
   
   // background: #d66243;
   //  line-height: 1rem;
   //  margin-right:$sc-margin-lv2 ;
 }
  // @media (max-width: $screen-xs-min){
  //   p{

  //     font-size: 1.2rem;
  //     letter-spacing: 1px;
  //     line-height: 1em;
  //   }
    // background: #d66243;
    //  line-height: 1rem;
    //  margin-right:$sc-margin-lv2 ;
    .channel1{
      margin-right:$sc-margin-lv2 ;
      line-height: 1em;
  
        a{
          font-weight: 600;
          text-decoration: none;
          filter: grayscale(100%);
          color: #F58331;
          // color: #dd7e43;
          font-weight:bold;
          font-size: 25px;
          transition: filter 0.2s;
          
         
          @media (min-width: $screen-sm-min){
            font-size: 23px;
           //  line-height: 1rem;
            letter-spacing: 1px;
            // word-spacing: 1.5px;
            
         }
        
        }
    }
   
    .xhannel2{
      margin-right:$sc-margin-lv2 ;
      margin-left: $sc-margin-lv2;
      line-height: 1em;
       .channel-paragraph-content-p2{
         img{
           max-width: 81px;
           height: 39px;
           filter: grayscale(100%);
           transition: filter 0.2s;
         }
       }
        
    }
    .channel3{
      margin-right:$sc-margin-lv2 ;
      margin-left: $sc-margin-lv2;
      line-height: 1em;
     .channel-paragraph-content-p3{
       margin-top: 5px;
       img{
        max-width:180px;
        height: 29px;
        filter: grayscale(100%);
        transition: filter 0.2s;
      }
     }
    }
  }

 #alert-placeholder{
   .alert-type{
     text-align: center;
   }
 }

  .select-option-tag-home{
     
    @media (max-width:767px){
      margin-left: 20px;
      #selectedVal{
        border: none;
        // border-bottom: 1px solid silver;
        font-weight: 450;
        font-size: 18px;
        font-family: $sc-font-family;
        
      }
      option{
        // font-weight: 450;
        font-weight: 350;
        font-family:'arial';
      }
    }
    @media (min-width:$screen-sm-min){
      // display: none;
      #selectedVal{
        display: none;
      }
     }
  }
  .home-main-hr2{
    @extend .home-main-hr1;
  }
.brand-image{
  @extend .col-sm-12;
  margin-top: $sc-margin-lv2*3;
  margin-bottom: $sc-margin-lv2*4;
  @media (max-width:767px){
    text-align: center;
  }

  a{
    // margin: 2%;
    img{
      transition: 0.2s ease-in;
      @media(min-width:$screen-sm-min) and (max-width:808px){
        width: 45%;
        margin-right: $sc-margin-lv2*2;
      }
      // width: auto;
      
      margin-right: 2px;
      margin-bottom: 5px;
    }
  }
}
.iframe-container{
  .iFrame-content{
    margin-top: $sc-margin-lv2;
    @extend .col-sm-12;
  }
  iframe{
    // max-width: 100%;
      background: none;
        position: relative;
        width: 100%;
        height:70vh;
    };
   
}
.home{
  .global-views-message{
    margin-left: 2%;
    margin-top: 20px;
  }
}
// .home-main-hr2{
//   .embeded-hr-content2
// }
// .about-us-cms-area-5-imgtab{
//   @extend .row;
// .about-us-cms-area-5-img1{
//   @media(max-width:767px){
//     text-align: center;
//   }
//   @extend .col-sm-4;
//   margin-top: 20px;
//   margin-bottom: 80px;
 
//   img{
//     height: 300px;
//   }
//   h4{
//     color: #dd7e43;
//   }
//   p{
//     text-decoration: underline;
//   }
 
   
// }
// .team{
//   @media (min-width:420px)and(max-width:450px){
//     // text-align: center;
//     padding-left: 10%;

//   }
// }
//   // animation
//   .about-us-cms-area-5-img1:hover img{
//     transform: scale(1.07);
//   }
// .img-animation img{
//   transition: all 0.7s cubic-bezier(0.2, 1, 0.22, 1);
// }
// }
.choose-a-channel-content{
  @media (max-width:767px){

    padding: 2%;
  }
  @media (min-width:$screen-sm-min){

    margin-bottom: $sc-margin-lv2*2;
  }
}
.what-channel-is-saying{
  @extend .row;
  .what-is-saying-content{
   
    margin-top: $sc-margin-lv2*3;
    // @extend .row;
    // @extend .col-sm-12;
    @media (min-width:$screen-sm-min){
      display: flex;
      justify-content: center;
      align-items: center;
      p{
       text-align: center;
      //  text-align: center;
       font-size: 50px;
       font-weight: 700;
       color: black;
     }
     span{
      text-align: center;
      //  text-align: center;
       font-size: 50px;
       font-weight: 700;
       color: black;
     }

   }
   @media (max-width:767px){
     display: inline-grid;
     width: 100%;
     text-align: center;
    //  margin-bottom: 20px;
     p{
      color: black;
       text-align: center;
      font-size: 35px;
      font-weight: 700;
    }
      span{
        font-size: 30px;
        font-weight: 200;
       }
    
   }
  }
  @media (max-width:767px){

    margin-bottom: $sc-margin-lv2*3;
  }
}
.what-is-saying-buttom-content{
  .highlighted-content{
    color:#F58331 ;
    font-weight: bold;
  }
  .card1{
    padding:5%;
    // @extend .col-sm-12;
    .card-name-content1{
      text-align: center;
      
      font-weight: 700;
      @media (min-width:$screen-sm-min){
        font-size: 27.93px;
      }
      @media (max-width:767px){
        font-size: 30px;
      }

    }
    .card-description-content1{
      text-align: center;
      font-size: 18.62px;
    }
    .image-container{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .custom-microsoft-content{
      @media (max-width:767px){
          // font-size: 18px;
          font-size: 16.76px;
      }
      @media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
        font-size: 15px;
      }
      @media (min-width:993px){
      //  font-size: 18px;
      font-size: 16.76px;
      }
      text-align: center;
    }
  }
  .card2{
    padding:5%;
    .card-name-content2{
      @media (min-width:$screen-sm-min){
        font-size: 27.93px;
      }
      @media (max-width:767px){
        font-size: 30px;
      }
      text-align: center;
      // font-size: 25px;
      font-weight: 700;

    }
    .card-description-content2{
      text-align: center;
      font-size: 18.62px;
      // font-weight: ;

    }
    .image-container{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .custom-service-content{
      @media (max-width:767px){
        // font-size: 18px;
        font-size: 16.76px;
    }
    @media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
      font-size: 15px;
    }
    @media (min-width:993px){
    //  font-size: 18px;
    font-size: 16.76px;
    }
      text-align: center;
    }
  }
  .card3{
    padding:5%;
    .card-name-content3{
      @media (min-width:$screen-sm-min){
        font-size: 27.93px;
      }
      @media (max-width:767px){
        font-size: 30px;
      }
      text-align: center;
      // font-size: 25px;
      font-weight: 700;
    }
    .card-description-content3{
      text-align: center;
      // font-size: 20px;
      font-size: 18.62px;
    }
    .image-container{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .custom-system-content{
      @media (max-width:767px){
        // font-size: 18px;
        font-size: 16.76px;
    }
    @media (min-width:$screen-sm-min)and (max-width:$screen-md-min){
      font-size: 15px;
    }
    @media (min-width:993px){
    //  font-size: 18px;
    font-size: 16.76px;
    }
      text-align: center;
    }
  }

}
.find-the-location{
  margin-top: 50px;
  margin-bottom: 50px;
}
.location-heading-text-content{
  padding: 1%;
  height: 400px;
  .location-heading-content{
    font-size: 35px;
    font-weight: 600;
    
    // letter-spacing: 1px;
    // word-spacing: 1px;
    span{
      margin-left: 5px;
      @media(max-width:760px){
        font-size: 25px;
        font-weight: 400;
      }
     
    }
  }
  p{
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  a{
    display: none;
    @media (min-width: $screen-sm-min){
      //     display: grid;
      //     // font-size: 20px;
      //     // font-weight: 700;
      //    //  line-height: 1rem;
      //     // letter-spacing: 0.5px;
      //     // word-spacing: 1.5px;
      //     padding: 10px 25px 10px 25px;
      margin-top: 30px;
      width: 36%;
      border-radius: 7px;
      color: white;
      display: inline-block;
      animation: leavewe 0.4s forwards;
      cursor: pointer;
      background:#d66243 ;
      border: 1px solid #d66243;
      padding: 10px 20px 10px 20px;
      font-size: 15px;
      display: block;
      text-decoration: none;
      &:hover{
        color: #d66243;
        border: 1px solid #d66243;
        animation: hoverwe 0.4s forwards;
      }
      @keyframes hoverwe {
        from {
            box-shadow: inset 0 0 0 0.01px white;
        }
        to {
            box-shadow: inset 8.79928em 0 0 0.01px white;
            color: #d66243;
        }
      }
         @keyframes leavewe {
          from {
              box-shadow: inset -8.79928em 0 0 0.01px white;
              color: #d66243;
          }
          to {
              box-shadow: inset 0 0 0 0.01px white;
          }
        }
    }
    // @extend .home-main-local-communication-anchor1;
  }

}
.office-highlited-content{
  color: #dd7e43;
}
.sydney-office-content{
  padding: 1%;
  height: 400px;
  font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 0.5px;
    
    // letter-spacing: 1px;
    // word-spacing: 1px;
    img{
      height: 260px;
      padding-left: 15px;
    }
     
    
  
  p{
    // padding: 3%;
    color: black;
    font-size: 17px;
    font-weight: lighter;
  }
}
.mailborney-office-content{
  padding: 1%;
  height: 400px;
  font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 0.5px;
    
    // letter-spacing: 1px;
    // word-spacing: 1px;
    img{
      height: 260px;
    }
     
    
  
  p{
    // padding: 3%;
    color: black;
    font-size: 17px;
    font-weight: lighter;
  }
}
.form-tab-home{
  margin-bottom: $sc-margin-lv2;

}
.content-form-first-name-or-lastname{
  // .col-sm-6{
  //   padding-left: 0px;
  // }
  // .col-sm-6{
  //   padding-right: 0px;
  // }
}
.input-field-first-name{
  margin-bottom: $sc-margin-lv2;
}
.input-field-last-name{
  margin-bottom: $sc-margin-lv2;
}
.form-content{
  padding: 2%;
}
.input-field-phone-name{
@extend .col-sm-12;
margin-bottom: $sc-margin-lv2;
}
.input-field-email-name{
  @extend .col-sm-12;
  margin-bottom: $sc-margin-lv2;
}
.input-field-business-name{
  @extend .col-sm-12;
  margin-bottom: $sc-margin-lv2;
}
.input-field-comment-name{
  @extend .col-sm-12;
  margin-bottom: $sc-margin-lv2;
}
.submit-button-content{
  margin-top: $sc-margin-lv2;
  @extend .col-sm-12;
  a{
   color: white;
   text-align: center;
   padding: 10px 20px 10px 20px;
   text-align: center;
   background: #f58331;
   height: auto;
   font-size: 18px;
   font-weight: lighter;
   width: 100%;
   border: 1px solid #f58331;
   display: inline-block;
   border-radius: 28px;
   transition: ease-out 0.3s;
   &:hover{
     background: white;
     color: #f58331;
     transition: ease-in 0.3s;
    //  border: 1px solid #f58331;
   }
  }
}
.signup-button-content{
  margin-top: $sc-margin-lv2;
  @extend .col-sm-12;
  a{
    font-size: 18px;
    font-weight: lighter;
    color: #f58331;
    text-align: center;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background: white;
    height: auto;
    width: 100%;
    border: 1px solid #f58331;
    display: inline-block;
    border-radius: 28px;
    transition: ease-out 0.3s;
    &:hover{
      background: #f58331;
      color: white;
      // transition: ease 0.3s;
      transition: ease-in 0.3s;
     //  border: 1px solid #f58331;
    }
   }
}
.name-field-content-form-first-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
.name-field-content-form-last-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
.name-field-content-form-email-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
.name-field-content-form-phone-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
.name-field-content-form-business-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
.name-field-content-form-comment-name{
  input{
    border: none;
    border-bottom: 2px solid rgb(172, 168, 168);
  }
}
