// Edited for Horizon Theme

.product-details-information-content-container,
.extra-pdp-info {
	// @extend .container;
	background: transparent;// $sc-color-theme-content-background;

	@media (min-width: $screen-sm-min){
	//	padding-left: $sc-padding-lv4;
	}

	@media (min-width: $screen-sm-min) {
		background: transparent;
	}
	.data-sheet-button,.user-guide-button{
		margin-bottom: 5px;
		a{
			@extend .button-secondary;
			@extend .button-small;
			color:#ffffff;
			background-color: #333333!important;
			font-size:12px;
			font-family: 'Arial';
			font-weight: 400;
			text-transform: capitalize;
			cursor: pointer;
			line-height: 12px;
			padding: 10px 10px!important;
			position: relative;
			outline: none;
			border: 0;
			&:hover{
				background-color: #de853e!important;
			}
		}

	}
}
[data-action="sc-pushing"].product-details-information-content-container {
	padding-bottom: $sc-padding-lv2;
}

.product-details-information-content {
	margin-bottom: $sc-margin-lv3;
	background-color: $sc-neutral-shade-0;
	//padding: $sc-padding-lv3;
	& ul {
		@extend .nav !optional;
		@extend .nav-tabs !optional;
		background-color: transparent;
		clear:both;

		@media (min-width: $screen-sm-min) {
			background-color: white;
		}
	}
}

.product-details-information-tab-content-container {
	font-family: $sc-font-family2;
	line-height: 22px;
	font-size: 18px;
	font-weight: 300;
	color: #0e1b23;
	white-space: pre-line;
	ul,
	ul li {
		list-style-type: disc;
		list-style-position: inside;
	}
	ol,
	ol li {
		list-style-type: decimal;
		list-style-position: inside;
	}
	ol li::before {
		content: '';
		width: 10px;
		display: inline-block;
	}
}

.product-details-information-info-hint {
	margin-top: $sc-margin-lv3;
	color: $sc-color-copy;
	padding-right: $sc-padding-lv3;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}
.product-details-information-content-tabs {
	@extend .content-tabs;
	text-align: center;
	margin: 70px 0px 50px 0!important;
}
.product-details-information-tab-title {
	@extend .content-tabs-title;
	float: none!important;
	display: inline-block!important;
	background-color: transparent!important;
	margin: 0!important;
	a {
		//background-color:$sc-color-theme-background;
		// padding: $sc-padding-lv4 $sc-padding-lv6;
		padding: 0!important;
		line-height: 1.7em;
		margin: 4px 20px;
		border-bottom: 0;
		//float:left;
		display: inline-block;
		font-weight: $sc-font-weight-normal;
		font-size:18px;
		font-family: $sc-font-family2;
		line-height: 30.6px;
		color: #5e5e5e!important;
		position: relative;
		&:hover{
			border: 0 !important;
		}
	}
	&:only-child a{
		display:none;
	}
	a::after{
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: #000;
		transition: width .3s;
	}
	&.active a::after {
		width: 100%;
	}
	&.active a {
		// background-color: $sc-color-theme-content-background;
		// color: $sc-color-theme-700;
		//border-bottom: 2px solid #000000;
		border: 0 ;


	}
}

.product-details-information-tab-title:hover a{
	border-bottom:0 !important;
}
.product-details-information-tab-content {
	// @extend .tab-content;
	clear:both;
	color: $sc-color-theme-700;

	h2{
		margin-bottom: $sc-margin-lv4;
	}

	ul {
		background: none;
	}

	li{
		list-style: disc inside none;
		margin:5px 0 0 5px;
	}

	h2, h4, h5 {
		color: $sc-color-theme;
		font-weight: $sc-font-weight-normal;
		text-transform: uppercase;
	}

	p {
		color: $sc-color-theme-700;
	}

	@media (min-width: $screen-sm-min){
		//padding: $sc-padding-lv6 $sc-padding-lv6 $sc-padding-lv6 0;
	}
}

[data-action="sc-pushing"] .product-details-information-tab-content{
	padding: $sc-padding-lv3 $sc-padding-lv6 $sc-padding-lv6 0;
}

.product-details-information-tab-content-panel {
	@extend .tab-content-panel;
}
// .active.product-details-information-tab-content-panel
// {
// 	opacity: 1;
// 	height: auto;
// }
.product-details-information-tab-content-panel-title {
	@extend .tab-content-panel-title;
}

.product-details-information-tab-content-container {
	h2, h3, h4 {
		padding-top: $sc-padding-lv4;
	}
	h5 {
		padding-top: $sc-padding-lv3;
	}
	h2{
		font-family: $sc-font-family;
		font-weight: 600;
		font-size: 25.5px;
		line-height: 31.5px;
		@media (min-width: $screen-md-min) and (max-width: $screen-lg-min) {
			font-size: 28.9px;
			line-height: 35.7px;
		}
		@media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
			font-size: 27.2px;
			line-height: 33.6px;
		}
		@media (min-width: $screen-sm-min) {
			font-size: 34px;
			line-height: 44px;
		}
	}
}

.product-details-information-tab-content-panel {
	@extend .tab-content-panel;
	max-height: unset;
}

.product-details-information-tab-action {
	@extend .tab-action;
}

.product-details-information-tab-action-more{
	@extend .tab-action-more;
	display:none;
	@media (min-width: $screen-sm-min){
		display:block;
	}
}

.product-details-information-tab-action-less{
	@extend .tab-action-less;
}

.product-details-information-tab-content.show {
	.product-details-information-tab-content-panel {
		max-height: 100%;
	}
	.product-details-information-tab-action-less {
		display: block;
	}
	.product-details-information-tab-action-more {
		display: none;
	}
}
.product-details-information-main-bottom-banner {
	margin-bottom: $sc-margin-lv4;
}

//Pusher button
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}
.product-details-information-hint {
	margin-top: $sc-margin-lv3;
	color: $sc-color-copy;
	padding-right: $sc-padding-lv3;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product-details-information-pusher {
	@extend .push-button-secondary;
	margin-bottom: $sc-margin-lv3;
	position: relative;
	font-size: $sc-font-size-m;

	i {
		position: absolute;
		right: 15px;
		top: 50%;
		height: 26px;
		margin-top: -12px;
	}
}

[data-action="sc-pushing"].product-details-information-content {
	padding-bottom: $sc-padding-lv2;
}

[data-action="sc-pushing"] .product-details-information-tab-content{
	padding: $sc-padding-lv3 $sc-padding-lv6 $sc-padding-lv6 0;
}
