//Search Content dropdown
.nav-search {
    width: 100%;
    background-color: $sc-color-tertiary;
    @include box-shadow(0 6px 12px transparentize($sc-theme-color-overlay, 1-0.175));

    @media (min-width: $screen-md-min){
        padding: $sc-padding-lv2 0;
        border-top:0;
    }
}

.nav-search-content {
    @extend .container;
    clear:both;
    margin-top: 0;
    margin-bottom: 0;
    height: 50px;
    padding: 0;
    position:relative;

    @media (min-width: $screen-md-min){
        width: 600px;
        margin:0 auto 0;
    }
}
//Search Content form
.nav-search-content-input{
    width: 100%;
    float: left;
    position: relative;
}

.nav-search-content-input span{
    width:100%;
}

.nav-search-input-icon {
    position: absolute;
    top: 15px;
    font-size: $sc-font-size-xl;
    left: 10px;
    color: $sc-color-theme-700;
    z-index: 99;

    @extend .fa;
    @extend %fa-search;
}

input.nav-search-input {
    padding: 0 0 0 $sc-padding-lv8;
    height: 48px;
    box-shadow:none;
    margin: 0;
    width: calc(100% - #{$sc-padding-lv8 + 2px});

    width: expression(100% - #{$sc-padding-lv8 + 2px});/* IE-OLD */

    -webkit-tap-highlight-color: transparentize($sc-theme-color-overlay, 1);
    border:1px solid $sc-color-theme-700 !important;

    @media (min-width: $screen-md-min){
        width: calc(100% - #{$sc-padding-lv1 * 18});
        width: expression(100% - #{$sc-padding-lv1 * 18});/* IE-OLD */
    }
}

.nav-search-input-reset {
    display: none;
    position: absolute;
    top: 0px;
    right: 0%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: $sc-font-size-m;
    padding: $sc-padding-lv3;

    @media (min-width: $screen-md-min){
        right: 50px;
    }

    &-icon{
        @extend .fa;
        @extend %fa-times-circle;
        color: $sc-color-theme-700;
        font-size: $sc-font-size-l;
    }
}

.nav-search-button-submit{
    display: none;

    @media (min-width: $screen-md-min){
	display: block;
        border-radius:0px;
	    border:0px;
	    background: $sc-color-theme;
	    color:$sc-color-tertiary;
        padding: 14px 17px;
	    float:right;
	    position: absolute;
	    top: 0;
	    right: 0;
    }

    &:hover, &:focus {
        background:$sc-color-secondary;
        color:$sc-color-tertiary;
    }
}
//Search Button close toggle
.nav-search-button-close{
     display: none;
}

//Typeahead plugin
.tt-dropdown-menu,
.tt-menu {
    width:100%;
    background: $sc-neutral-shade-0;
    margin-top: 1px;
    border-left: 1px solid transparentize($sc-color-theme-900, 1-0.3);
    border-right: 1px solid transparentize($sc-color-theme-900, 1-0.3);
    border-bottom: 1px solid transparentize($sc-color-theme-900, 1-0.3);
    box-shadow: 0 8px 12px transparentize($sc-theme-color-overlay, 1-0.175);
    -webkit-box-shadow: 0 8px 12px transparentize($sc-theme-color-overlay, 1-0.175);
    overflow:hidden;
}

.tt-dropdown-menu-shadow-fix {
    @include box-shadow(inset 0px 4px 6px -6px $sc-color-theme);
    height: 3px;
}

.tt-suggestions{
    cursor:pointer;
    cursor:hand;
    padding:0;
    font-size: $sc-font-size-s;
}

.itemssearcher-input.tt-hint {
    color: $sc-color-copy;
}

//Typeahead headers
.all-results{
    display:block;
    border-bottom:1px solid $sc-color-theme-border;
    color: $sc-color-link;
    padding-bottom: $sc-padding-lv4;
    font-size: $sc-font-size-m;
    margin: $sc-margin-lv4 $sc-margin-lv7 0 $sc-margin-lv7;
    text-transform: capitalize;

    &:hover {
        color: $sc-color-link-hover;
        text-decoration: underline;
    }
}

.no-results{
    @extend .all-results;
    border-bottom:0;
    color: $sc-color-copy;

    &:hover{
        text-decoration: none;
        color: $sc-color-copy;
    }
}

.searching{
    @extend .no-results;
    color: $sc-color-copy;
}

//Typeahead Item
.item-results {
    padding: $sc-padding-lv3 0;
    cursor: pointer;
    display: block;
    @extend .clearfix;

    &:hover {
        background: $sc-color-theme-content-background;
    }
}

.tt-cursor {
    background: $sc-color-theme-content-background;
}

.item-results-image{
    width: 25%;
    float: left;
    display: none;

    padding-left: $sc-padding-lv7;

    @media (min-width: $screen-sm-min){
        display: block;
    }
}

.item-results-content{
    width: 75%;
    float: left;
    padding-left: $sc-padding-lv7;

    @media (min-width: $screen-sm-min){
        padding: 0 $sc-padding-lv3;
    }
    .global-views-star-rating {
        display: none;
        @media (min-width: $screen-sm-min){
            display: block;
        }
    }
}

.item-results-title{
    margin-bottom: $sc-margin-lv1;
    display:block;
    font-size: $sc-font-size-m;
}

.tt-highlight {
    font-weight: $sc-font-weight-semibold;
    color: $sc-color-primary;
}

.item-results:hover .item-results-title {
    color: $sc-color-link;
}

.item-results-rate{
    display: none;
    margin-top: $sc-margin-lv1;

    @media (min-width: $screen-sm-min){
        display: block;
    }
    i{
        font-size: 16px;
        letter-spacing: 2px;
    }
}
